---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-redis
  namespace: {{ .Release.Namespace }}
  labels:
    app: firecrawl-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: firecrawl-redis
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: firecrawl-redis
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      initContainers:
        - name: init-permissions
          image: "docker.io/beclab/aboveos-busybox:1.37.0"
          command:
            - sh
            - "-c"
            - |
              echo "[Init] Fixing permissions on /data..."
              chown -R 1000:1000 /data
              chmod -R 770 /data
          resources: {}
          volumeMounts:
            - name: redis-data
              mountPath: /data
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: Always
          securityContext:
            runAsUser: 0
      containers:
        - name: firecrawl-redis
          image: "docker.io/beclab/aboveos-redis:7"
          resources:
            requests:
              cpu: 10m
              memory: 10Mi
            limits:
              cpu: 1000m
              memory: 1000Mi
          ports:
            - containerPort: 6379
          volumeMounts:
            - mountPath: /data
              name: redis-data
      volumes:
        - name: redis-data
          hostPath:
            {{- if .Values.sysVersion }}
              {{- if semverCompare ">=1.12.3-0" (toString .Values.sysVersion) }}
            path: {{ .Values.userspace.appCache }}/redis
              {{- else }}
            path: {{ .Values.userspace.appCache }}/{{ .Release.Name }}/redis
              {{- end }}
            {{- else }}
            path: {{ .Values.userspace.appCache }}/{{ .Release.Name }}/redis
            {{- end }}
            type: DirectoryOrCreate
