apiVersion: v1
kind: ConfigMap
metadata:
  name: config-scripts
  namespace: {{ .Release.Namespace }}
data:
  copy-config.sh: |
    #!/bin/bash

    new_dir="/config-new"
    source_dir="/config"

    if [ -z "$(ls -A $new_dir)" ]; then
        echo "Directory $new_dir is empty. Copying contents from $source_dir..."
        cp -r $source_dir/* $new_dir
        echo "Contents copied successfully."
    else
        echo "Directory $new_dir is not empty, no action needed."
    fi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: jellyfin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jellyfin
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: jellyfin
    spec:
      volumes:
        - name: home
          hostPath:
            type: Directory
            path: {{ .Values.userspace.userData }}
        - hostPath:
            {{- if .Values.sysVersion }}
              {{- if semverCompare ">=1.12.3-0" (toString .Values.sysVersion) }}
            path: '{{ .Values.userspace.appData }}/config'
              {{- else }}
            path: '{{ .Values.userspace.appData }}/jellyfin/config'
              {{- end }}
            {{- else }}
            path: '{{ .Values.userspace.appData }}/jellyfin/config'
            {{- end }}
            type: DirectoryOrCreate
          name: config
        - hostPath:
            {{- if .Values.sysVersion }}
              {{- if semverCompare ">=1.12.3-0" (toString .Values.sysVersion) }}
            path: '{{ .Values.userspace.appData }}/cache'
              {{- else }}
            path: '{{ .Values.userspace.appData }}/jellyfin/cache'
              {{- end }}
            {{- else }}
            path: '{{ .Values.userspace.appData }}/jellyfin/cache'
            {{- end }}
            type: DirectoryOrCreate
          name: cache
        - hostPath:
            {{- if .Values.sysVersion }}
              {{- if semverCompare ">=1.12.3-0" (toString .Values.sysVersion) }}
            path: '{{ .Values.userspace.appData }}'
              {{- else }}
            path: '{{ .Values.userspace.appData }}/jellyfin'
              {{- end }}
            {{- else }}
            path: '{{ .Values.userspace.appData }}/jellyfin'
            {{- end }}
            type: DirectoryOrCreate
          name: app-data-root
        - name: external
          hostPath:
            type: DirectoryOrCreate
            path: "{{ .Values.sharedlib }}"
        - name: config-scripts
          configMap:
            name: config-scripts
            defaultMode: 438
            items:
            - key: copy-config.sh
              path: copy-config.sh
      initContainers:
        - name: init-config
          image: "docker.io/beclab/jellyfin-jellyfin:10.10.6"
          resources: {}
          command: ["/bin/bash", "-c", "chmod +x /scripts/copy-config.sh & bash /scripts/copy-config.sh"]
          volumeMounts:
          - name: config
            mountPath: /config-new
          - name: config-scripts
            mountPath: /scripts/copy-config.sh
            subPath: copy-config.sh
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsUser: 0
        - name: init-chmod-data
          image: "docker.io/beclab/aboveos-busybox:1.37.0"
          command:
            - sh
            - '-c'
            - |
              chown -R 1000:1000 /home; chown -R 1000:1000 /app-data-root
          resources: {}
          volumeMounts:
            - name: home
              mountPath: /home
            - name: app-data-root
              mountPath: /app-data-root
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsUser: 0

      containers:
        - name: jellyfin
          image: "docker.io/beclab/jellyfin-jellyfin:10.10.6"
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 4000m
              memory: 4Gi
          ports:
          - containerPort: 8096
          volumeMounts:
          - name: home
            mountPath: /home
          - name: config
            mountPath: /config
          - name: cache
            mountPath: /cache
          - name: external
            mountPath: /external
          env:
          - name: PGID
            value: "1000" 
          - name: PUID
            value: "1000" 
          - name: UMASK
            value: "002" 
          - name: TZ
            value: Etc/UTC
          

---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-svc
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  selector:
    app: {{ .Release.Name }}
  ports:
    - protocol: TCP
      port: 8096
      targetPort: 8096
      
{{- if .Values.sysVersion }}
  {{- if semverCompare "<1.12.1-0" (toString .Values.sysVersion) }}
---
apiVersion: sys.bytetrade.io/v1alpha1
kind: ProviderRegistry
metadata:
  name: {{ .Release.Name }}
  namespace: user-system-{{ .Values.bfl.username }}
spec:
  dataType: legacy_api
  deployment: {{ .Release.Name }}
  description: {{ .Release.Name }} legacy api
  endpoint: {{ .Release.Name }}-svc.{{ .Release.Namespace }}:8096
  group: api.jellyfin
  kind: provider
  namespace: {{ .Release.Namespace }}
  version: v1
status:
  state: active
  {{- end }}  
{{- end }}
