---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: sickchill
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sickchill
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: sickchill
    spec:
      initContainers:
      - name: init-chmod-data
        image: "docker.io/beclab/aboveos-busybox:1.37.0"
        command:
          - sh
          - '-c'
          - |
            chown -R 1000:1000 /app-data-root
        resources: {}
        volumeMounts:
          - name:  sickchill-config
            mountPath: /app-data-root
          - mountPath: /data
            name: sickchill-config
            subPath: data
          - mountPath: /downloads
            name: sickchill-config
            subPath: downloads
          - mountPath: /tv
            name: sickchill-config
            subPath: tv
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        imagePullPolicy: IfNotPresent
        securityContext:
          runAsUser: 0
      containers:
      - name: sickchill
        image: "docker.io/beclab/sickchill-sickchill:2024.3.1"
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 256Mi
        ports:
        - containerPort: 8081
        volumeMounts:
        - mountPath: /data
          name: sickchill-config
          subPath: data
        - mountPath: /downloads
          name: sickchill-config
          subPath: downloads
        - mountPath: /tv
          name: sickchill-config
          subPath: tv
        - mountPath: /home
          name: home
      volumes:
      - name: sickchill-config
        hostPath:
          type: DirectoryOrCreate
          {{- if .Values.sysVersion }}
            {{- if semverCompare ">=1.12.3-0" (toString .Values.sysVersion) }}
          path: {{ .Values.userspace.appData }} 
            {{- else }}
          path: {{ .Values.userspace.appData }}/sickchill 
            {{- end }}
          {{- else }}
          path: {{ .Values.userspace.appData }}/sickchill
          {{- end }}
      - hostPath:
          path: '{{ .Values.userspace.userData }}'
          type: DirectoryOrCreate
        name: home

---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-svc
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  selector:
    app: {{ .Release.Name }}
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
