---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-redis
  namespace: {{ .Release.Namespace }}
  labels:
    app: teable-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: teable-redis
  template:
    metadata:
      labels:
        app: teable-redis
    spec:
      containers:
        - name: teable-redis
          image: "docker.io/beclab/aboveos-redis:7"
          resources:
            requests:
              cpu: 10m
              memory: 10Mi
            limits:
              cpu: 200m
              memory: 200Mi
          ports:
            - containerPort: 6379
