{{- if and .Values.admin .Values.bfl.username (eq .Values.admin .Values.bfl.username) }}
{{- $gpuInfo := include "GPU.getGPUInfo" . | fromJson -}}
{{- $is50Series := $gpuInfo.is50Series -}}
---
apiVersion: v1
kind: Service
metadata:
  name: heygem-svc
  namespace: {{ .Release.Namespace }}
  labels:
    io.kompose.service: heygem
spec:
  selector:
    io.kompose.service: heygem
  ports:
    - protocol: TCP
      port: 18180
      targetPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: heygemgenvideo-svc
  namespace: {{ .Release.Namespace }}
  labels:
    io.kompose.service: heygem
spec:
  selector:
    io.kompose.service: heygem
  ports:
    - protocol: TCP
      port: 8383
      targetPort: 8383
{{- if ne $is50Series "true" }}
---
apiVersion: v1
kind: Service
metadata:
  name: heygem-asr
  namespace: {{ .Release.Namespace }}
  labels:
    io.kompose.service: heygem
spec:
  selector:
    io.kompose.service: heygem
  ports:
    - protocol: TCP
      port: 10095
      targetPort: 10095
{{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: sharedentrances-speech
  namespace: {{ .Release.Namespace }}
  labels:
    io.kompose.service: heygem
spec:
  selector:
    io.kompose.service: heygem
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: sharedentrances-video
  namespace: {{ .Release.Namespace }}
  labels:
    io.kompose.service: heygem
spec:
  selector:
    io.kompose.service: heygem
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8383
{{- end -}}
