---
apiVersion: v1
kind: ConfigMap
metadata:
  name: windows-config
  namespace: {{ .Release.Namespace }}
data:
  CDN_HOST: '{{ .Values.olaresEnv.SYSTEM_CDN_SERVICE | default (.Values.downloadCdnURL | default "https://cdn.olares.com") }}'