---
apiVersion: v1
kind: Service
metadata:
  name: windows-svc
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    - name: tcp-8006
      port: 8006
      targetPort: 8006
    - name: tcp-3389
      port: 3389
      targetPort: 3389
    - name: udp-3389
      port: 3389
      targetPort: 3389
      protocol: UDP
  selector:
    name: windows
  type: ClusterIP

---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: windows
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      name: windows
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        name: windows
    spec:
      containers:
        - name: windows
          image: "beclab/dockurr-windows:igpu1"
          envFrom:
            - configMapRef:
                name: windows-config
          env:
            - name: VERSION
              value: $(CDN_HOST)/{{ .Values.olaresEnv.VERSION | default "iso/Win11_24H2_English_x64.iso" }}
            - name: RAM_SIZE
              value: '{{ .Values.olaresEnv.RAM_SIZE | default "4G" }}'
            - name: CPU_CORES
              value: "{{ .Values.olaresEnv.CPU_CORES | default 4 | quote }}"
            - name: DISK_SIZE
              value: "{{ .Values.olaresEnv.DISK_SIZE | default 128G | quote }}"
            - name: USERNAME
              value: "{{ .Values.olaresEnv.USERNAME | default olares | quote }}"
            - name: PASSWORD
              value: "{{ .Values.olaresEnv.PASSWORD | default olares | quote }}"
        {{- if and .Values.deviceName (eq .Values.deviceName "Olares One") }}
            - name: GPU
              value: "Y"
            - name: VGA
              value: 'vfio-pci,host=0000:00:02.1,multifunction=on,x-vga=on -vga virtio'
            - name: RENDERNODE
              value: /dev/dri/renderD129
        {{- end }}
          ports:
            - containerPort: 8006
            - containerPort: 3389
            - containerPort: 3389
              protocol: UDP
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
            privileged: true
          volumeMounts:
            - mountPath: /storage
              name: storage
            - mountPath: /dev/kvm
              name: dev-kvm
            - mountPath: /dev/net/tun
              name: dev-tun
            - mountPath: /dev/dri
              name: dev-dri
          resources:
            requests:
              cpu: 4000m
              memory: 6Gi
            limits:
              cpu: 12000m
              memory: 24Gi
      terminationGracePeriodSeconds: 300
      volumes:
        - hostPath:
            path: '{{ .Values.userspace.appCache }}'
            type: DirectoryOrCreate
          name: storage
        - hostPath:
            path: /dev/kvm
          name: dev-kvm
        - hostPath:
            path: /dev/net/tun
            type: CharDevice
          name: dev-tun
        - hostPath:
            path: /dev/dri
          name: dev-dri