---
apiVersion: v1
kind: Service
metadata:
  name: windows-svc
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    - name: tcp-8006
      port: 8006
      targetPort: 8006
    - name: tcp-3389
      port: 3389
      targetPort: 3389
    - name: udp-3389
      port: 3389
      targetPort: 3389
      protocol: UDP
  selector:
    name: windows
  type: ClusterIP

---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    name: windows
  name: windows
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      name: windows
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        name: windows
    spec:
      containers:
      - name: windows
        image: dockurr/windows:4.09
        env:
        - name: VERSION
          value: "11"
        - name: RAM_SIZE
          value: "4G"
        - name: CPU_CORES
          value: "4"
        - name: DISK_SIZE
          value: "128G"
        - name: USERNAME
          value: olares
        - name: PASSWORD
          value: olares
        ports:
        - containerPort: 8006
        - containerPort: 3389
        - containerPort: 3389
          protocol: UDP
        securityContext:
          capabilities:
            add:
            - NET_ADMIN
          privileged: true
        volumeMounts:
          - mountPath: /storage
            name: storage
          - mountPath: /dev/kvm
            name: dev-kvm
          - mountPath: /dev/net/tun
            name: dev-tun
        resources:
          requests:
            cpu: 4000m
            memory: 6Gi
          limits:
            cpu: 12000m
            memory: 24Gi
      terminationGracePeriodSeconds: 300
      volumes:
        - hostPath:
            path: '{{ .Values.userspace.appCache }}/windows'
            type: DirectoryOrCreate
          name: storage
        - hostPath:
            path: /dev/kvm
          name: dev-kvm
        - hostPath:
            path: /dev/net/tun
            type: CharDevice
          name: dev-tun


