apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: laserdog
  name: laserdog
  namespace: '{{ .Release.Namespace }}'
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: laserdog
  template:
    metadata:
      labels:
        io.kompose.network/chrome-default: "true"
        io.kompose.service: laserdog
    spec:
      containers:
      - env:
        - name: PGID
          value: "1000"
        - name: PUID
          value: "1000"
        - name: TZ
          value: Etc/UTC
        - name: OLARES_DOMAIN
          value: payappsops.olares.com
        - name: VERIFIABLE_CREDENTIAL
          value: "{{ .Values.olaresEnv.VERIFIABLE_CREDENTIAL }}"
        image: beclab/payment-demo:v0.1.3
        name: laserdog
        ports:
        - containerPort: 80
        resources:
          limits:
            cpu: 500m
            memory: 500Mi
          requests:
            cpu: 500m
            memory: 500Mi
      restartPolicy: Always
  status: {}

---
apiVersion: v1
kind: Service
metadata:
  labels:
    io.kompose.service: laserdog
  name: laserdog
  namespace: '{{ .Release.Namespace }}'
spec:
  ports:
  - name: "laserdog"
    port: 80
    targetPort: 80
  selector:
    io.kompose.service: laserdog
