{{- $teableDomainENV := split "," .Values.domain.teable -}}
{{- $teableDomain := index $teableDomainENV "_0" -}}
{{- $localDomain := $teableDomain -}}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: teable-config
  namespace: {{ .Release.Namespace }}
data:
  # base
  PUBLIC_ORIGIN: "https://{{$teableDomain}}"
  BACKEND_SESSION_EXPIRES_IN: "7d"
  BACKEND_JWT_EXPIRES_IN: "20d"
  PORT: "3000"
  LOG_LEVEL: "debug"
  NEXT_ENV_IMAGES_ALL_REMOTE: "true"

  # smtp
  BACKEND_MAIL_HOST: "{{ .Values.olaresEnv.MAIL_HOST }}"
  BACKEND_MAIL_PORT: "{{ .Values.olaresEnv.MAIL_PORT }}"
  BACKEND_MAIL_AUTH_USER: "{{ .Values.olaresEnv.MAIL_AUTH_USER }}"
  BACKEND_MAIL_AUTH_PASS: "{{ .Values.olaresEnv.MAIL_AUTH_PASS }}"
  BACKEND_MAIL_SECURE: "{{ .Values.olaresEnv.MAIL_SECURE }}"
  BACKEND_MAIL_SENDER: "{{ .Values.olaresEnv.MAIL_SENDER }}"
  BACKEND_MAIL_SENDER_NAME: "{{ .Values.olaresEnv.MAIL_SENDER_NAME }}"

  # minio
  BACKEND_STORAGE_PROVIDER: "local"
  BACKEND_STORAGE_S3_REGION: ""
  BACKEND_STORAGE_S3_ENDPOINT: ""
  BACKEND_STORAGE_S3_ACCESS_KEY: ""
  BACKEND_STORAGE_S3_SECRET_KEY: ""
  BACKEND_STORAGE_MINIO_ENDPOINT: ""
  BACKEND_STORAGE_MINIO_ACCESS_KEY: ""
  BACKEND_STORAGE_MINIO_SECRET_KEY: ""

  # resource limit
  MAX_COPY_CELLS: "50000"
  MAX_READ_ROWS: "10000"
  MAX_ATTACHMENT_UPLOAD_SIZE: "2147483648"
