---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: seatable-mysql
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: seatable-mysql
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: seatable-mysql
    spec:
      terminationGracePeriodSeconds: 90
      containers:
        - name: seatable-mysql
          image: "docker.io/beclab/mariadb:11.4.3-noble"
          lifecycle:
            preStop:
              exec:
                command:
                  - "/bin/sh"
                  - "-c"
                  - |
                    timeout 30 /usr/bin/mariadb-admin \
                      --user=root \
                      --password=$MYSQL_ROOT_PASSWORD \
                      shutdown || \
                    pkill -SIGTERM mariadbd
          env:
            - name: PGID
              value: "0"
            - name: PUID
              value: "0"
            - name: TZ
              value: "Etc/UTC"
            - name: DISPLAY
              value: ":0"
            - name: MYSQL_ROOT_PASSWORD
              value: "seatable"
            - name: MYSQL_LOG_CONSOLE
              value: "true"
            - name: MARIADB_AUTO_UPGRADE
              value: "0"
          ports:
            - name: mysql
              containerPort: 3306
              protocol: TCP
          volumeMounts:
            - name: mysql-data
              mountPath: /var/lib/mysql
          resources:
            requests:
              cpu: 50m
              memory: 512Mi
            limits:
              cpu: 1000m
              memory: 2000Mi
          livenessProbe:
            exec:
              command:
                - "/usr/local/bin/healthcheck.sh"
                - "--connect"
                - "--mariadbupgrade"
                - "--innodb_initialized"
            initialDelaySeconds: 30
            periodSeconds: 20
            timeoutSeconds: 10
            failureThreshold: 3
          securityContext:
            runAsUser: 0
      volumes:
        - name: mysql-data
          hostPath:
            {{- if .Values.sysVersion }}
              {{- if semverCompare ">=1.12.3-0" (toString .Values.sysVersion) }}
            path: "{{ .Values.userspace.appData }}/opt/seatable/mysql-data"
              {{- else }}
            path: "{{ .Values.userspace.appData }}/seatable/opt/seatable/mysql-data"
              {{- end }}
            {{- else }}
            path: "{{ .Values.userspace.appData }}/seatable/opt/seatable/mysql-data"
            {{- end }}
            type: DirectoryOrCreate
