apiVersion: apps/v1
kind: Deployment
metadata:
  name: ytnavigator
  namespace: {{ .Release.Namespace }}
  labels:
    app: ytnavigator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ytnavigator
  template:
    metadata:
      labels:
        app: ytnavigator
    spec:
      containers:
      - name: server
        image: "docker.io/beclab/bleachzou3-yt-navigator:0.0.5"
        imagePullPolicy: IfNotPresent
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
        ports:
        - containerPort: 8000
        env:
        - name: POSTGRES_DB
          value: '{{ .Values.postgres.databases.ytnavigator }}'
        - name: POSTGRES_USER
          value: '{{ .Values.postgres.username }}'
        - name: POSTGRES_PASSWORD
          value: '{{ .Values.postgres.password }}'
        - name: POSTGRES_HOST
          value: '{{ .Values.postgres.host }}'
        - name: POSTGRES_PORT
          value: '{{ .Values.postgres.port }}'
        - name: GROQ_API_KEY
          value: '{{ .Values.olaresEnv.GROQ_API_KEY }}'
        - name: DJANGO_SECRET_KEY
          value: '{{ .Values.olaresEnv.DJANGO_SECRET_KEY }}'
        - name: LANGSMITH_API_KEY
          value: '{{ .Values.olaresEnv.LANGSMITH_API_KEY }}'

