apiVersion: v1
kind: Service
metadata:
  name: ytnavigator-svc
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  selector:
    app: ytnavigator
  ports:
    - name: http
      protocol: TCP
      port: 8000
      targetPort: 8000
