{{- if and .Values.admin .Values.bfl.username (eq .Values.admin .Values.bfl.username) }}
{{- $searxngDomainENV := split  ","  .Values.domain.searxngv2 -}}
{{- $searxngDomain := index $searxngDomainENV "_0" -}}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: searxngshare
  name: searxngshare
  namespace: '{{ .Release.Namespace }}'
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: searxngshare
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.network/chrome-default: "true"
        io.kompose.service: searxngshare
    spec:
      containers:
      - name: searxngshare
        image: "beclab/searxng-searxng:2025.12.12-920b40253"
        ports:
          - containerPort: 8080
        env:
          - name: PGID
            value: "1000"
          - name: PUID
            value: "1000"
          - name: TZ
            value: Etc/UTC
          - name: SEARXNG_BASE_URL
            value: "https://{{ $searxngDomain }}"
        livenessProbe:
          httpGet:
            path: /
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 30
          timeoutSeconds: 60
          periodSeconds: 60
          successThreshold: 1
          failureThreshold: 10
        startupProbe:
          tcpSocket:
            port: 8080
          timeoutSeconds: 5
          periodSeconds: 10
          successThreshold: 1
          failureThreshold: 30
        resources:
          limits:
            cpu: "4"
            memory: 8000Mi
          requests:
            cpu: 50m
            memory: 512Mi
        volumeMounts:
        - mountPath: /etc/searxng/limiter.toml
          name: config
          subPath: limiter.toml
        - name: config
          mountPath: /usr/local/searxng/searx/settings.yml
          subPath: settings.yml
      restartPolicy: Always
      volumes:
      - name: config
        configMap:
          name: searxng-config
status: {}

---
apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: searxngshare
  name: searxngv2
  namespace: '{{ .Release.Namespace }}'
spec:
  ports:
  - name: "8080"
    port: 8080
    targetPort: 8080
  selector:
    io.kompose.service: searxngshare
status:
  loadBalancer: {}
  
---
apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: searxngshare
  name: sharedentrances-api
  namespace: '{{ .Release.Namespace }}'
spec:
  ports:
  - name: "api"
    port: 80
    targetPort: 8080
  selector:
    io.kompose.service: searxngshare
status:
  loadBalancer: {}
{{- end }}
