{{- $pdsDomainENV := split "," .Values.domain.pds -}}
{{- $pdsDomain := index $pdsDomainENV "_0" -}}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: pds-env
  namespace: '{{ .Release.Namespace }}'
data:
  PDS_HOSTNAME: {{ if and $pdsDomain (ne $pdsDomain "") }}{{ $pdsDomain | quote }}{{ else }}"https://localhost"{{ end }}
  PDS_DATA_DIRECTORY: {{ .Values.dataDirectory | default "/pds" | quote }}
  PDS_BLOBSTORE_DISK_LOCATION: {{ .Values.blobstoreDiskLocation | default "/pds/blocks" | quote }}
  PDS_PORT: {{ .Values.port | default 3000 | quote }}
  PDS_JWT_SECRET: "a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6"
  {{- if and .Values.olaresEnv.PDS_ADMIN_PASSWORD (ne .Values.olaresEnv.PDS_ADMIN_PASSWORD "") }}
  PDS_ADMIN_PASSWORD: {{ .Values.olaresEnv.PDS_ADMIN_PASSWORD | quote }}
  {{- else }}
  PDS_ADMIN_PASSWORD: "olares"
  {{- end }}
  PDS_PLC_ROTATION_KEY_K256_PRIVATE_KEY_HEX: "0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
  LOG_ENABLED: {{ .Values.env.LOG_ENABLED | default "true" | quote }}
  LOG_LEVEL: {{ .Values.env.LOG_LEVEL | default "debug" | quote }}
  PDS_RATE_LIMITS_ENABLED: {{ .Values.env.PDS_RATE_LIMITS_ENABLED | default "true" | quote }}
  {{- if and .Values.env.PDS_EMAIL_SMTP_URL (ne .Values.env.PDS_EMAIL_SMTP_URL "") }}
  PDS_EMAIL_SMTP_URL: {{ .Values.env.PDS_EMAIL_SMTP_URL | quote }}
  {{- end }}
  {{- if and .Values.env.PDS_EMAIL_FROM_ADDRESS (ne .Values.env.PDS_EMAIL_FROM_ADDRESS "") }}
  PDS_EMAIL_FROM_ADDRESS: {{ .Values.env.PDS_EMAIL_FROM_ADDRESS | quote }}
  {{- end }}
  {{- if and .Values.env.PDS_PRIVACY_POLICY_URL (ne .Values.env.PDS_PRIVACY_POLICY_URL "") }}
  PDS_PRIVACY_POLICY_URL: {{ .Values.env.PDS_PRIVACY_POLICY_URL | quote }}
  {{- end }}
  {{- if and .Values.env.LOG_DESTINATION (ne .Values.env.LOG_DESTINATION "") }}
  LOG_DESTINATION: {{ .Values.env.LOG_DESTINATION | quote }}
  {{- end }}
  {{- if .Values.env.PDS_BLOB_UPLOAD_LIMIT }}
  PDS_BLOB_UPLOAD_LIMIT: {{ .Values.env.PDS_BLOB_UPLOAD_LIMIT | quote }}
  {{- end }}
  {{- if .Values.env.PDS_DID_PLC_URL }}
  PDS_DID_PLC_URL: {{ .Values.env.PDS_DID_PLC_URL | quote }}
  {{- end }}
  {{- if .Values.env.PDS_BSKY_APP_VIEW_URL }}
  PDS_BSKY_APP_VIEW_URL: {{ .Values.env.PDS_BSKY_APP_VIEW_URL | quote }}
  {{- end }}
  {{- if .Values.env.PDS_BSKY_APP_VIEW_DID }}
  PDS_BSKY_APP_VIEW_DID: {{ .Values.env.PDS_BSKY_APP_VIEW_DID | quote }}
  {{- end }}
  {{- if .Values.env.PDS_REPORT_SERVICE_URL }}
  PDS_REPORT_SERVICE_URL: {{ .Values.env.PDS_REPORT_SERVICE_URL | quote }}
  {{- end }}
  {{- if .Values.env.PDS_REPORT_SERVICE_DID }}
  PDS_REPORT_SERVICE_DID: {{ .Values.env.PDS_REPORT_SERVICE_DID | quote }}
  {{- end }}
  {{- if .Values.env.PDS_CRAWLERS }}
  PDS_CRAWLERS: {{ .Values.env.PDS_CRAWLERS | quote }}
  {{- end }}

