---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-redis
  namespace: {{ .Release.Namespace }}
  labels:
    app: seatable-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: seatable-redis
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: seatable-redis
    spec:
      containers:
        - name: seatable-redis
          image: "docker.io/beclab/redis:7.2.7-bookworm"
          resources:
            requests:
              cpu: 10m
              memory: 10Mi
            limits:
              cpu: 200m
              memory: 200Mi
          ports:
            - containerPort: 6379
          livenessProbe:
            exec:
              command: [ "redis-cli", "ping" ]
            initialDelaySeconds: 5
            periodSeconds: 20
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            exec:
              command: [ "redis-cli", "ping" ]
            initialDelaySeconds: 5
            periodSeconds: 20
            timeoutSeconds: 5
            failureThreshold: 3
