apiVersion: v1
data:
  blacklist.conf: |
    #url 
    https://www.dailymail.co.uk/video/news/video-3506065/Video-Car-wash-bosses-caught-running-worldwide-people-smuggling-business.html
   
    #domain
    youtubekids.com
    music.youtube.com
    live.bilibili.com
    manga.bilibili.com
    cheese.bilibili.com
    newsweek.com
    usatoday.com
    facebook.com
    threads.com
    instagram.com
    pinterest.com
    xiaohongshu.com
    xhslink.com
    tiktok.com
    douyin.com
    open.spotify.com
    spreaker.com
    buzzsprout.com
    wsj.com
    marketwatch.com
    barrons.com
    washingtonpost.com
    usnews.com
    rfi.fr
    bloomberg.com
    euronews.com
    reuters.com
    theguardian.com#/^https:\/\/(www\.)?theguardian\.com\/.*\/(audio|video|live)\/.*$/
    cnn.com#/^https:\/\/edition\.cnn\.com\/audio\/.*$/
    cnbc.com#/^https:\/\/(www\.)?cnbc\.com\/video(\/.*)?$/
    nypost.com#/^https:\/\/(www\.)?nypost\.com\/video(\/.*)?$/
    dailymail.co.uk#/^https:\/\/(www\.)?dailymail\.co\.uk\/video(\/.*)?$/
    apnews.com#/^https:\/\/(www\.)?apnews\.com\/live\/.*$/
    youtube.com#/^(https?:\/\/)?([a-zA-Z0-9-]+\.)*youtube\.com\/post(\/.*)?$/
    bilibili.com#/^(https?:\/\/)?([a-zA-Z0-9-]+\.)*bilibili\.com\/cheese(\/.*)?$/
    x.com#/^https:\/\/(www\.)?x\.com\/i\/trending\/\d+$/,/^https:\/\/(www\.)?x\.com\/i\/events\/\d+$/
    bbc.com#/^https:\/\/(www\.)?bbc\.com\/(?:.*\/)?(audio|live)\/.*$/

kind: ConfigMap
metadata:
  name: blacklist-config 
  namespace: {{ .Release.Namespace }}

---
