{{ $dbbackup_rootpath := printf "%s%s" .Values.rootPath "/rootfs/middleware-backup" }}
{{- $knowledge_secret := (lookup "v1" "Secret" .Release.Namespace "knowledge-secrets") -}}
{{- $nats_password := "" -}}
{{ if $knowledge_secret -}}
{{- $nats_password = (index $knowledge_secret "data" "nats_password") -}}

{{ else -}}
{{ $nats_password = randAlphaNum 16 | b64enc }}
{{- end -}}

---
apiVersion: v1
kind: Secret
metadata:
  name: knowledge-secrets
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  nats_password: {{ $nats_password }}

---
apiVersion: apr.bytetrade.io/v1alpha1
kind: MiddlewareRequest
metadata:
  name: knowledge-nats
  namespace: {{ .Release.Namespace }}
spec:
  app: knowledge
  appNamespace: os
  middleware: nats
  nats:
    password:
      valueFrom:
        secretKeyRef:
          key: nats_password
          name: knowledge-secrets
    user: "{{ .Release.Namespace }}-knowledge"
    subjects:
      - name: rssubscribe_status
        permission:
          pub: allow
          sub: allow
      - name: download_status
        permission:
          pub: allow
          sub: allow
      - name: "knowledge.*"
        permission:
          pub: allow
          sub: allow

---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: knowledge-cluster-view
  namespace:  {{ .Release.Namespace }}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: knowledge-namespace-viewer
rules:
- apiGroups: 
    - '*'            
  resources: 
    - statefulsets
    - daemonsets
    - namespaces   
    - serviceaccounts/token
  verbs: 
    - '*'

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: namespace-viewer-binding
subjects:
- kind: ServiceAccount
  name: knowledge-cluster-view
  namespace: {{ .Release.Namespace }}
roleRef:
  kind: ClusterRole
  name: knowledge-namespace-viewer
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: knowledge
  # namespace: knowledge-shared
  namespace: {{ .Release.Namespace }}
  labels:
    app: knowledge
    applications.app.bytetrade.io/author: bytetrade.io
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: knowledge
  template:
    metadata:
      labels:
        app: knowledge
    spec:
      securityContext:
        runAsUser: 0
        runAsNonRoot: false
      serviceAccountName: knowledge-cluster-view
      serviceAccount: knowledge-cluster-view
      initContainers:
      - name: init-container
        image: "beclab/postgres:16.0-alpine3.18"
        command:
          - sh
          - '-c'
          - >-
            echo -e "Checking for the availability of PostgreSQL Server deployment"; until psql -h $PGHOST -p $PGPORT -U $PGUSER -d $PGDB -c "SELECT 1"; do sleep 1; printf "-"; done; sleep 5; echo -e " >> PostgreSQL DB Server has started";
        env:
          - name: PGHOST
            value: {{ .Values.postgres.host }}
          - name: PGPORT
            value: "{{ .Values.postgres.port }}"
          - name: PGUSER
            value: "{{ .Values.postgres.username }}"
          - name: PGPASSWORD
            value: {{ .Values.postgres.password }}
          - name: PGDB
            value: {{ .Values.postgres.databases.knowledge }}
      containers:
      - name: knowledge
        image: "beclab/knowledge-base-api:v0.12.59"
        imagePullPolicy: IfNotPresent
        securityContext:
          runAsUser: 0
          runAsNonRoot: false
        ports:
        - containerPort: 3010
        env:
        - name: BACKEND_URL
          value: http://127.0.0.1:8080
        - name: COOKIE_URL
          value: http://integration-provider-svc.os-protected:28080
        - name: SUBSCRIBE_URL
          value: 'http://rssubscribe-provider.rsserver-shared:28080'
        - name: UPLOAD_SAVE_PATH
          value: '/data/'
        - name: SEARCH_URL
          #value: 'http://search3.os-framework:80'
          value: 'http://search3-provider-svc.os-framework:28080'
        - name: REDIS_PASSWORD
          value: {{ .Values.redis.password }}
        - name: REDIS_ADDR
          value: "{{ .Values.redis.host }}:{{ .Values.redis.port }}"
          #value: redis-cluster-proxy.os-platform
        - name: PG_USERNAME
          value: "{{ .Values.postgres.username }}"
        - name: PG_PASSWORD
          value: {{ .Values.postgres.password }}
        - name: PG_HOST
          value: {{ .Values.postgres.host }}
          #value: citus-headless.os-platform
        - name: PG_PORT
          value: "{{ .Values.postgres.port }}"
        - name: PG_DATABASE
          value: {{ .Values.postgres.databases.knowledge }}
        - name: DOWNLOAD_URL
          #value: http://download-svc.os-framework:8080
          value: http://download-provider-svc.os-framework:28080
        - name: YTDLP_DOWNLOAD_URL
          value: http://ytdlp-provider.ytserver-shared:28080
        - name: NATS_HOST
          value: nats.os-platform
        - name: NATS_PORT
          value: "4222"
        - name: NATS_USERNAME
          value: {{ .Release.Namespace }}-knowledge
        - name: NATS_PASSWORD
          valueFrom:
            secretKeyRef:
              key: nats_password
              name: knowledge-secrets
        - name: NATS_DOWNLOAD_SUBJECT
          value: os.download_status
        - name: NATS_RSSUBSCRIBE_SUBJECT
          value: os.rssubscribe_status
        - name: SOCKET_URL
          value: 'http://localhost:40010'
        - name: BACKUP_PATH
          value: /backup/
        volumeMounts:
          - name: pgbackup
            mountPath: /backup
          - name: blacklist-config
            mountPath: /blacklist-config
        resources:
          requests:
            cpu: 20m
            memory: 50Mi
          limits:
            cpu: "3.5"
            memory: 6Gi

      - name: vectorcrawl
        image: "beclab/vectorcrawl:v0.1.18"
        imagePullPolicy: IfNotPresent
        securityContext:
          allowPrivilegeEscalation: false
          runAsUser: 1000
        env:
        - name: LISTEN_ADDR
          value: 127.0.0.1:8080
        - name: REDIS_PASSWORD
          value: {{ .Values.redis.password }}
        - name: REDIS_ADDR
          value: "{{ .Values.redis.host }}:{{ .Values.redis.port }}"
        - name: RSS_HUB_URL
          value: 'http://rss-server.rsserver-shared:1200/'
        - name: PG_USERNAME
          value: {{ .Values.postgres.username }}
        - name: PG_PASSWORD
          value: {{ .Values.postgres.password }}
        - name: PG_HOST
          value: {{ .Values.postgres.host }}
        - name: PG_PORT
          value: "{{ .Values.postgres.port }}"
        - name: PG_DATABASE
          value: {{ .Values.postgres.databases.knowledge }}
        - name: YT_DLP_API_URL
          value: http://ytdlp-provider.ytserver-shared:28080/api
        - name: DOWNLOAD_API_URL
          value: http://download-provider-svc.os-framework:28080/api
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 20m
            memory: 50Mi
          limits:
            cpu: "1"
            memory: 2Gi

      - name: sync
        image: "beclab/recommend-sync:v0.12.1"
        securityContext:
          runAsUser: 0
          runAsNonRoot: false
        env:
        - name: USERSPACE_DIRECTORY
          value: /data
        - name: KNOWLEDGE_BASE_API_URL
          value: http://127.0.0.1:3010
        - name: PG_HOST
          value: {{ .Values.postgres.host }}
        - name: PG_USERNAME
          value: {{ .Values.postgres.username }}
        - name: PG_PASSWORD
          value: {{ .Values.postgres.password }}
        - name: PG_DATABASE
          value: {{ .Values.postgres.databases.knowledge }}
        - name: PG_PORT
          value: "{{ .Values.postgres.port }}"
        - name: TERMINUS_RECOMMEND_REDIS_ADDR
          value: "{{ .Values.redis.host }}:{{ .Values.redis.port }}"
        - name: TERMINUS_RECOMMEND_REDIS_PASSOWRD
          value: {{ .Values.redis.password }}
        resources:
          requests:
            cpu: 20m
            memory: 20Mi
          limits:
            cpu: "200m"
            memory: 100Mi
      - name: flaresolverr
        image: beclab/flaresolverr:v0.0.1
        resources:
          requests:
            cpu: 20m
            memory: 60Mi
          limits:
            cpu: "2"
            memory: 500Mi
      - name: crawler
        image: "beclab/recommend-crawler:v0.12.2"
        securityContext:
          allowPrivilegeEscalation: false
          runAsUser: 1000
        env:
        - name: KNOWLEDGE_BASE_API_URL
          value: http://127.0.0.1:3010
        resources:
          requests:
            cpu: 20m
            memory: 50Mi
          limits:
            cpu: "200m"
            memory: 300Mi

      volumes:
      - name: pgbackup
        hostPath:
          path: '{{ $dbbackup_rootpath }}/pg_backup'
          type: DirectoryOrCreate
      - name: olares-sidecar-config
        configMap:
          name: sidecar-ws-configs
          items:
          - key: envoy.yaml
            path: envoy.yaml
      - name: blacklist-config
        configMap:
          name: blacklist-config
          items:
            - key: blacklist.conf
              path: blacklist.conf

---
apiVersion: v1
kind: Service
metadata:
  name: rss-svc
  # namespace: knowledge-shared
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  selector:
    app: knowledge
  ports:
    - name: "backend-server"
      protocol: TCP
      port: 8080
      targetPort: 8080
    - name: "knowledge-base-api"
      protocol: TCP
      port: 3010
      targetPort: 3010
    - name: knowledge-ws-api
      protocol: TCP
      port: 3100
      targetPort: 3100

