---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: sealcaster
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sealcaster
  template:
    metadata:
      labels:
        app: sealcaster
    spec:
      containers:
      - name: sealcaster
        image: docker.io/aboveos/mmchong-sealcaster:latest
        resources:
          requests:
            cpu: 100m
            memory: 32Mi
          limits:
            cpu: 500m
            memory: 64Mi
        ports:
        - containerPort: 3000
        

---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-svc
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  selector:
    app: {{ .Release.Name }}
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
