
env:
  groqApiKey: "your-groq-api-key"
  djangoSecretKey: "your-django-secret-key"
  langsmithApiKey: "your-langsmith-api-key"
  langsmithProject: "YT Navigator"

resources:
  limits:
    cpu: 2000m
    memory: 2048Mi
  requests:
    cpu: 1000m
    memory: 2048Mi
