---
apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: ollama
  name: ollama
  namespace: "{{ .Release.Namespace }}"
  annotations:
    applications.app.bytetrade.io/gpu-inject: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: ollama
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.network/chrome-default: "true"
        io.kompose.service: ollama
        bytetrade.io/terminal: ollama
    spec:
      initContainers:
        - name: init-chmod-data
          image: "docker.io/beclab/aboveos-busybox:1.37.0"
          command:
            - sh
            - "-c"
            - |
              chown -R 1000:1000 /app-data-root
          resources: {}
          volumeMounts:
            - name: data
              mountPath: /app-data-root
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsUser: 0
      containers:
        - name: ollama
          image: "docker.io/beclab/ollama-ollama:0.13.2"
          env:
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"
            - name: TZ
              value: Etc/UTC
            - name: GGML_CUDA_DISABLE_GRAPHS
              value: "1"
            - name: OLLAMA_ORIGINS
              value: "*"
          ports:
            - containerPort: 11434
          livenessProbe:
            httpGet:
              path: /
              port: 11434
              scheme: HTTP
            initialDelaySeconds: 30
            timeoutSeconds: 60
            periodSeconds: 60
            successThreshold: 1
            failureThreshold: 10
          startupProbe:
            tcpSocket:
              port: 11434
            timeoutSeconds: 5
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 30
          resources:
            limits:
              cpu: "4"
              memory: 38Gi
            requests:
              cpu: 50m
              memory: 4Gi
          volumeMounts:
            - mountPath: "/root/.ollama"
              name: data
      volumes:
        - name: data
          hostPath:
            path: "{{ .Values.sharedlib }}/ai/ollama"
            type: DirectoryOrCreate
      restartPolicy: Always
status: {}

---
apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: ollama
  name: ollama
  namespace: "{{ .Release.Namespace }}"
spec:
  ports:
    - name: "http"
      port: 11434
      targetPort: 11434
  selector:
    io.kompose.service: ollama
status:
  loadBalancer: {}
---
apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: ollama
  name: sharedentrances-ollama
  namespace: "{{ .Release.Namespace }}"
spec:
  ports:
    - name: "http"
      port: 80
      targetPort: 11434
  selector:
    io.kompose.service: ollama
status:
  loadBalancer: {}