{{- $appDomainENV := split "," .Values.domain.openwebui -}}
{{- $appDomain := index $appDomainENV "_0" -}}
{{- $topDomain := regexReplaceAll ".*?([^.]+\\.[^.]+)$" $appDomain "$1" -}}
{{- $isNewVersion := and .Values.sysVersion (semverCompare ">=1.12.3-0" (toString .Values.sysVersion)) -}}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: openwebui
  namespace: "{{ .Release.Namespace }}"
  labels:
    io.kompose.service: openwebui
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      io.kompose.service: openwebui
  template:
    metadata:
      labels:
        io.kompose.service: openwebui
        io.kompose.network/chrome-default: "true"
    spec:
      restartPolicy: Always
      containers:
        - name: openwebui
          image: 'docker.io/beclab/open-webui-open-webui:v0.6.43'

          ports:
            - containerPort: 8080

          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 60
            timeoutSeconds: 30
            periodSeconds: 30
            failureThreshold: 5

          startupProbe:
            tcpSocket:
              port: 8080
            timeoutSeconds: 10
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 30

          env:
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"
            - name: TZ
              value: Etc/UTC
            - name: HF_HUB_OFFLINE
              value: "1"

            - name: OLLAMA_BASE_URL
              {{- if $isNewVersion }}
              value: "http://d54536a50.shared.{{ $topDomain }}"
              {{- else }}
              value: "http://ollama.ollama-{{ .Values.admin }}:11434"
              {{- end }}

            - name: OPENAI_API_BASE_URLS
              {{- if $isNewVersion }}
              value: "http://d1236e020.shared.{{ $topDomain }}"
              {{- else }}
              value: "http://searxng.searxng-{{ .Values.admin }}:8080"
              {{- end }}

            - name: OPENAI_API_KEYS
              value: " ;"

          resources:
            limits:
              cpu: "2"
              memory: 2000Mi
            requests:
              cpu: 50m
              memory: 512Mi

          volumeMounts:
            - name: appdata
              mountPath: /app/backend/data

      volumes:
        - name: appdata
          hostPath:
            {{- if .Values.sysVersion }}
              {{- if semverCompare ">=1.12.3-0" (toString .Values.sysVersion) }}
            path: "{{ .Values.userspace.appCache }}/data"
              {{- else }}
            path: "{{ .Values.userspace.appCache }}/openwebui/data"
              {{- end }}
            {{- else }}
            path: "{{ .Values.userspace.appCache }}/openwebui/data"
            {{- end }}
            type: DirectoryOrCreate
---
apiVersion: v1
kind: Service
metadata:
  name: openwebui
  namespace: "{{ .Release.Namespace }}"
  labels:
    io.kompose.service: openwebui
spec:
  selector:
    io.kompose.service: openwebui
  ports:
    - name: http
      port: 8080
      targetPort: 8080
