apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.26.1 (HEAD)
  creationTimestamp: null
  labels:
    io.kompose.service: db
  name: db
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: db
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert
        kompose.version: 1.26.1 (HEAD)
      creationTimestamp: null
      labels:
        io.kompose.service: db
    spec:
      containers:
        - env:
            - name: POSTGRES_PASSWORD
              value: secret
            - name: POSTGRES_USER
              value: miniflux
          image: "docker.io/beclab/aboveos-postgres:15"
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
          livenessProbe:
            exec:
              command:
                - pg_isready
                - -U
                - miniflux
            initialDelaySeconds: 30
            periodSeconds: 10
          name: postgres
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: miniflux-db
          ports:
            - containerPort: 5432
      restartPolicy: Always
      volumes:
        - name: miniflux-db
          persistentVolumeClaim:
            claimName: miniflux-db
status: {}
