apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.26.1 (HEAD)
  creationTimestamp: null
  labels:
    io.kompose.service: miniflux
  name: miniflux
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: miniflux
  strategy: {}
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert
        kompose.version: 1.26.1 (HEAD)
      creationTimestamp: null
      labels:
        io.kompose.service: miniflux
    spec:
      containers:
        - env:
            - name: ADMIN_PASSWORD
              value: test123
            - name: ADMIN_USERNAME
              value: admin
            - name: CREATE_ADMIN
              value: "1"
            - name: DATABASE_URL
              value: postgres://miniflux:secret@db/miniflux?sslmode=disable
            - name: DEBUG
              value: "1"
            - name: RUN_MIGRATIONS
              value: "1"
          image: kldtks/edge:miniflux
          name: miniflux
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
          ports:
            - containerPort: 8080
      restartPolicy: Always
status: {}
