apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 2.2.16 (HEAD)
  labels:
    io.kompose.service: miniflux
  name: miniflux
  namespace: "{{ .Release.Namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: miniflux
  strategy: {}
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert
        kompose.version: 2.2.16 (HEAD)
      labels:
        io.kompose.service: miniflux
    spec:
      containers:
        - env:
            - name: ADMIN_PASSWORD
              value: "{{ .Values.olaresEnv.ADMIN_PASSWORD }}"
            - name: ADMIN_USERNAME
              value: "{{ .Values.olaresEnv.ADMIN_USERNAME }}"
            - name: CREATE_ADMIN
              value: "1"
            - name: DATABASE_URL
              value: "postgres://{{ .Values.postgres.username }}:{{ .Values.postgres.password }}@{{ .Values.postgres.host }}:5432/{{ .Values.postgres.databases.miniflux }}"
            - name: DEBUG
              value: "1"
            - name: RUN_MIGRATIONS
              value: "1"
          image: "docker.io/beclab/miniflux-miniflux:2.2.16-distroless"
          name: miniflux
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
          ports:
            - containerPort: 8080
      restartPolicy: Always
