---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: nocodb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nocodb
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: nocodb
    spec:
      initContainers:
        - name: init-chmod-data
          image: "docker.io/beclab/aboveos-busybox:1.37.0"
          command:
            - sh
            - "-c"
            - |
              chown -R 1000:1000 /app-data-root
          resources: {}
          volumeMounts:
            - name: app-data-root
              mountPath: /app-data-root
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsUser: 0
      containers:
        - name: nocodb
          image: "docker.io/beclab/nocodb-nocodb:0.263.8"
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: 250m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
          ports:
            - containerPort: 8080
          env:
            - name: NC_DB
              value: "pg://{{ .Values.postgres.host }}:{{ .Values.postgres.port }}?u={{ .Values.postgres.username }}&p={{ .Values.postgres.password }}&d={{ .Values.postgres.databases.nocodb }}"
            - name: NC_ATTACHMENT_FIELD_SIZE
              value: "104857600"
            - name: NC_MAX_ATTACHMENTS_ALLOWED
              value: "10"
          volumeMounts:
            - name: nc-data
              mountPath: /usr/app/data
      volumes:
        - name: nc-data
          hostPath:
            type: DirectoryOrCreate
            {{- if .Values.sysVersion }}
              {{- if semverCompare ">=1.12.3-0" (toString .Values.sysVersion) }}
            path: "{{ .Values.userspace.appData }}/nc-data"
              {{- else }}
            path: "{{ .Values.userspace.appData }}/nocodb/nc-data"
              {{- end }}
            {{- else }}
            path: "{{ .Values.userspace.appData }}/nocodb/nc-data"
            {{- end }}
        - name: app-data-root
          hostPath:
            type: DirectoryOrCreate
            {{- if .Values.sysVersion }}
              {{- if semverCompare ">=1.12.3-0" (toString .Values.sysVersion) }}
            path: "{{ .Values.userspace.appData }}"
              {{- else }}
            path: "{{ .Values.userspace.appData }}/nocodb"
              {{- end }}
            {{- else }}
            path: "{{ .Values.userspace.appData }}/nocodb"
            {{- end }}

---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-svc
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  selector:
    app: {{ .Release.Name }}
  ports:
    - name: nocodbtcp
      protocol: TCP
      port: 80
      targetPort: 8080
