---
apiVersion: v1
kind: ConfigMap
metadata:
  name: smtp-config
  namespace: {{ .Release.Namespace }}
data:
{{- if and .Values.olaresEnv.SMTP_SERVER (ne .Values.olaresEnv.SMTP_SERVER "") }}
  PENPOT_SMTP_ENABLED: "true"
  PENPOT_SMTP_DEFAULT_FROM: "{{ .Values.olaresEnv.MAIL_DEFAULT_SEND_FROM }}"
  PENPOT_SMTP_DEFAULT_REPLY_TO: "{{ .Values.olaresEnv.MAIL_DEFAULT_SEND_FROM }}"
  PENPOT_SMTP_HOST: "{{ .Values.olaresEnv.SMTP_SERVER }}"
  PENPOT_SMTP_PORT: "{{ .Values.olaresEnv.SMTP_PORT }}"
  PENPOT_SMTP_USERNAME: "{{ .Values.olaresEnv.SMTP_USERNAME }}"
  PENPOT_SMTP_PASSWORD: "{{ .Values.olaresEnv.SMTP_PASSWORD }}"
  PENPOT_SMTP_SSL: "{{ .Values.olaresEnv.SMTP_USE_SSL | default "false" }}"
  PENPOT_SMTP_TLS: "{{ .Values.olaresEnv.SMTP_USE_TLS | default "false" }}"
{{- else }}
  PENPOT_SMTP_ENABLED: "false"
{{- end }}
