apiVersion: v1
kind: ConfigMap
metadata:
  name: novella-config
  namespace: {{ .Release.Namespace }}
data:
  envfile: |-
    OPENAI_API_KEY=OPENAI_API_KEY
    OPENAI_BASE_URL=https://dify.{{ .Values.bfl.username }}.myterminus.com/nitro/model_server/v1
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    io.kompose.service: novella
  name: novella
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: novella
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        io.kompose.network/chrome-default: "true"
        io.kompose.service: novella
    spec:
      containers:
        - env:
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"
            - name: TZ
              value: Etc/UTC
          image: "kldtks/edge:novella-latest"
          name: novella
          ports:
            - containerPort: 3000   
          volumeMounts:
            - name: config
              mountPath: /src/.env
              subPath: envfile
          resources: 
            requests:
              cpu: 200m
              memory: 1024Mi
            limits:
              cpu: 1000m
              memory: 2000Mi
      volumes:
        - name: config
          configMap:
            name: novella-config
      restartPolicy: Always

status: {}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    io.kompose.service: novella
  name: novella
  namespace: {{ .Release.Namespace }}
spec:
  ports:

    - name: "3000"
      port: 3000
      targetPort: 3000
                    
  selector:
    io.kompose.service: novella
status:
  loadBalancer: {}
                  