---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: prowlarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prowlarr
  strategy:
    type: Recreate  
  template:
    metadata:
      labels:
        app: prowlarr
    spec:
      containers:
      - env:
        - name: PGID
          value: "1000" 
        - name: PUID
          value: "1000" 
        - name: UMASK
          value: "002"
        - name: TZ
          value: Etc/UTC
        name: prowlarr
        image: "beclab/harveyff-hotio-prowlarr:v0.0.1"
        imagePullPolicy: IfNotPresent
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 256Mi
        ports:
        - containerPort: 9696
        volumeMounts:
        - mountPath: /config
          name: prowlarr-config
      volumes:
      - name: prowlarr-config
        hostPath:
          type: DirectoryOrCreate
          {{- if .Values.sysVersion }}
            {{- if semverCompare ">=1.12.3-0" (toString .Values.sysVersion) }}
          path: {{ .Values.userspace.appData }}
            {{- else }}
          path: {{ .Values.userspace.appData }}/prowlarr 
            {{- end }}
          {{- else }}
          path: {{ .Values.userspace.appData }}/prowlarr 
          {{- end }}
        

---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-svc
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  selector:
    app: {{ .Release.Name }}
  ports:
    - protocol: TCP
      port: 9696
      targetPort: 9696


{{- if .Values.sysVersion }}
  {{- if semverCompare "<1.12.1-0" (toString .Values.sysVersion) }}
---
apiVersion: sys.bytetrade.io/v1alpha1
kind: ProviderRegistry
metadata:
  name: legacy-{{ .Release.Name }}
  namespace: user-system-{{ .Values.bfl.username }}
spec:
  dataType: legacy_prowlarr
  deployment: prowlarr
  description: prowlarr legacy api
  endpoint: prowlarr-svc.{{ .Release.Namespace }}:9696
  group: api.prowlarr
  kind: provider
  namespace: {{ .Release.Namespace }}
  version: v2
  opApis:
  - name: All
    uri: /  
status:
  state: active
  {{- end }}
{{- end }}
