---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: prowlarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prowlarr
  template:
    metadata:
      labels:
        app: prowlarr
    spec:
      containers:
      - env:
        - name: PGID
          value: "1000" 
        - name: PUID
          value: "1000" 
        - name: UMASK
          value: "002"
        - name: TZ
          value: Etc/UTC
        name: prowlarr
        image: hotio/prowlarr:latest
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 256Mi
        ports:
        - containerPort: 9696
        volumeMounts:
        - mountPath: /config
          name: prowlarr-config
      volumes:
      - name: prowlarr-config
        hostPath:
          type: DirectoryOrCreate
          path: {{ .Values.userspace.appData }}/prowlarr 
        

---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-svc
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  selector:
    app: {{ .Release.Name }}
  ports:
    - protocol: TCP
      port: 9696
      targetPort: 9696
