---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: penpot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: penpot
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: penpot
    spec:
      containers:
        - name: penpot
          image: "docker.io/beclab/penpotapp-frontend:2.11.1"
          resources:
            requests:
              cpu: 10m
              memory: 50Mi
            limits:
              cpu: 200m
              memory: 200Mi
          startupProbe:
            httpGet:
              path: /readyz
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
            failureThreshold: 30
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 30
            timeoutSeconds: 1
            periodSeconds: 30
            successThreshold: 1
            failureThreshold: 3
          ports:
            - containerPort: 8080
          volumeMounts:
            - mountPath: /opt/data/assets
              name: data-assets
          env:
            - name: PENPOT_FLAGS
              value: "enable-registration enable-login-with-password disable-email-verification enable-smtp enable-prepl-server enable-secure-session-cookies"
            - name: PENPOT_EXPORTER_URI
              value: "http://penpot-exporter:6061"
            - name: PENPOT_BACKEND_URI
              value: "http://penpot-backend:6060"
      volumes:
        - name: data-assets
          hostPath:
            type: DirectoryOrCreate
            {{- if .Values.sysVersion }}
              {{- if semverCompare ">=1.12.3-0" (toString .Values.sysVersion) }}
            path: '{{ .Values.userspace.appData }}/data/assets'
              {{- else }}
            path: '{{ .Values.userspace.appData }}/penpot/data/assets'
              {{- end }}
            {{- else }}
            path: '{{ .Values.userspace.appData }}/penpot/data/assets'
            {{- end }}