apiVersion: v1
kind: Service
metadata:
  name: penpot-svc
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: penpot
