---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: acestepv2
  namespace: {{ .Release.Namespace }}
  labels:
    app: multi-port
  annotations:
    applications.app.bytetrade.io/gpu-inject: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: multi-port
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: multi-port
    spec:
      securityContext:
        runAsUser: 0
      containers:
        - name: acestep
          image: "docker.io/beclab/harveyff-acestep-test:v1.1.9"
          ports:
            - containerPort: 7865
          env:
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"
            - name: TZ
              value: Etc/UTC
          envFrom:
            - configMapRef:
                name: acestep-config
          command:
            - sh
            - -c
            - |
              {{- if and (hasKey .Values "models") (gt (len .Values.models) 0) }}
              {{- range $i, $model := .Values.models }}
              while [ ! -f /root/.cache/ace-step/.success.{{ $model.name }} ]; do
                echo "Waiting for /root/.cache/ace-step/.success.{{ $model.name }} ..."
                sleep 5
              done
              {{- end }}
              echo "All model files are ready."
              {{- end }}
              echo "Starting application..."
              python3 acestep/gui.py --server_name 0.0.0.0 --bf16 true
          resources:
            requests:
              cpu: "500m"
              memory: 12Gi
            limits:
              cpu: "4"
              memory: 29Gi
          volumeMounts:
            - name: checkpoints
              mountPath: /root/.cache/ace-step
            - name: outputs
              mountPath: /app/outputs
            - name: logs
              mountPath: /app/exps/logs
          securityContext:
            runAsUser: 0
      volumes:
        - name: checkpoints
          hostPath:
            path: "{{ .Values.sharedlib }}/ai/acestepv2"
            type: DirectoryOrCreate
        - name: outputs
          hostPath:
            path: "{{ .Values.userspace.userData }}/AI/output/acestepv2"
            type: DirectoryOrCreate
        - name: logs
          hostPath:
            path: "{{ .Values.userspace.appData }}/logs"
            type: DirectoryOrCreate
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Release.Name }}-download-models
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}-download-models
spec:
  ttlSecondsAfterFinished: 100
  backoffLimit: 3
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-download-models
    spec:
      containers:
        - name: {{ .Release.Name }}-download-models
          image: "docker.io/beclab/downloader-init:v0.1.1"
          ports:
            - containerPort: 8090
          envFrom:
            - configMapRef:
                name: acestep-config
          command: ["sh", "-c"]
          args:
            - |
              {{- range $i, $model := .Values.models }}
              echo "${CDN_HOST}/{{ $model.name }} {{ $model.output }} {{ $model.md5 }}" {{ if eq $i 0 }} > {{ else }} >> {{ end }} /app/tasks/tasks.txt && \
              {{- end }}
              /app/downloader-init /app/tasks/tasks.txt 8090 1 ACE-Step /gradio_api/info && \
              echo "Download finished..."
          resources:
            requests:
              cpu: "500m"
              memory: "500Mi"
            limits:
              cpu: "1"
              memory: 1Gi
          volumeMounts:
            - name: downloader-tmp-vol
              mountPath: /app/downloader-tmp
            - name: downloads-vol
              mountPath: /app/downloads
            - name: tasks-txt-vol
              mountPath: /app/tasks
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsUser: 0
      volumes:
        - name: downloader-tmp-vol
          hostPath:
            path: "{{ .Values.sharedlib }}/ai/acestepv2/download/temp"
            type: DirectoryOrCreate
        - name: downloads-vol
          hostPath:
            path: "{{ .Values.sharedlib }}/ai/acestepv2"
            type: DirectoryOrCreate
        - name: tasks-txt-vol
          emptyDir: {}
      restartPolicy: OnFailure
---
apiVersion: v1
kind: Service
metadata:
  name: acestep-svc
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    app: multi-port
  ports:
    - name: main-api
      port: 7865
      targetPort: 7865
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  name: download-svc
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    app: {{ .Release.Name }}-download-models
  ports:
    - name: download-status
      port: 8090
      targetPort: 8090
  type: ClusterIP
