---
apiVersion: v1
kind: ConfigMap
metadata:
  name: funclip-config
  namespace: {{ .Release.Namespace }}
data:
  CDN_HOST: "{{ .Values.downloadCdnURL | default "https://dc3p1870nn3cj.cloudfront.net" }}/models"
  DEFAULT_LANGUAGE: "zh"