{{- $fireflyiiiDomainENV := split  ","  .Values.domain.fireflyiii -}}
{{- $fireflyiiiDomain := index $fireflyiiiDomainENV "_0" -}}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: fireflyiii-env
  namespace: {{ .Release.Namespace }}
data:
  APP_ENV: "production"
  APP_DEBUG: "false"
  SITE_OWNER: "{{ .Values.olaresEnv.SITE_OWNER }}"
  DEFAULT_LANGUAGE: "en_US"
  DEFAULT_LOCALE: "equal"
  TZ: '{{ .Values.olaresEnv.OLARES_USER_TIMEZONE | default "UTC" }}'
  TRUSTED_PROXIES: "**"
  LOG_CHANNEL: "stack"
  APP_LOG_LEVEL: "notice"
  AUDIT_LOG_LEVEL: "emergency"
  AUDIT_LOG_CHANNEL: ""
  PAPERTRAIL_HOST: ""
  PAPERTRAIL_PORT: ""
  DB_CONNECTION: "pgsql"
  DB_HOST: "{{ .Values.postgres.host }}"
  DB_PORT: "{{ .Values.postgres.port }}"
  DB_DATABASE: "{{ .Values.postgres.databases.fireflyiiidb }}"
  DB_USERNAME: "{{ .Values.postgres.username }}"
  DB_PASSWORD: "{{ .Values.postgres.password }}"
  DB_SOCKET: ""
  PGSQL_SSL_MODE: "prefer"
  PGSQL_SSL_ROOT_CERT: "null"
  PGSQL_SSL_CERT: "null"
  PGSQL_SSL_KEY: "null"
  PGSQL_SSL_CRL_FILE: "null"
  PGSQL_SCHEMA: "public"
  CACHE_DRIVER: "file"
  SESSION_DRIVER: "file"
  REDIS_SCHEME: "tcp"
  REDIS_PATH: ""
  REDIS_HOST: "{{ .Values.redis.host }}"
  REDIS_PORT: "{{ .Values.redis.port }}"
  REDIS_USERNAME: ""
  REDIS_PASSWORD: "{{ .Values.redis.password }}"
  REDIS_DB: "0"
  REDIS_CACHE_DB: "1"
  COOKIE_PATH: "/"
  COOKIE_DOMAIN: ""
  COOKIE_SECURE: "false"
  COOKIE_SAMESITE: "lax"
  MAIL_SENDMAIL_COMMAND: ""
  MAIL_ALLOW_SELF_SIGNED: "false"
  MAIL_VERIFY_PEER: "true"
  MAIL_VERIFY_PEER_NAME: "true"
  MAILGUN_DOMAIN: ""
  MAILGUN_SECRET: ""
  MAILGUN_ENDPOINT: "api.mailgun.net"
  MANDRILL_SECRET: ""
  SPARKPOST_SECRET: ""
  MAILERSEND_API_KEY: ""
  SEND_ERROR_MESSAGE: "true"
  MAP_DEFAULT_LAT: "51.983333"
  MAP_DEFAULT_LONG: "5.916667"
  MAP_DEFAULT_ZOOM: "6"
  AUTHENTICATION_GUARD: "web"
  AUTHENTICATION_GUARD_HEADER: "REMOTE_USER"
  AUTHENTICATION_GUARD_EMAIL: ""
  PASSPORT_PRIVATE_KEY: ""
  PASSPORT_PUBLIC_KEY: ""
  CUSTOM_LOGOUT_URL: ""
  DISABLE_FRAME_HEADER: "false"
  DISABLE_CSP_HEADER: "false"
  TRACKER_SITE_ID: ""
  TRACKER_URL: ""
  DKR_CHECK_SQLITE: "true"
  APP_NAME: "Firefly III"
  BROADCAST_DRIVER: "log"
  QUEUE_DRIVER: "sync"
  CACHE_PREFIX: "firefly"
  PUSHER_KEY: ""
  IPINFO_TOKEN: ""
  PUSHER_SECRET: ""
  PUSHER_ID: ""
  DEMO_USERNAME: ""
  DEMO_PASSWORD: ""
  FIREFLY_III_LAYOUT: "v1"
  APP_URL: "https://{{ $fireflyiiiDomain }}"

---
apiVersion: v1
kind: Secret
metadata:
  name: fireflyiii-secrets
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  APP_KEY: "MDcwRkVCMTI1NzA4RURFMkREMTVGODRCQ0U4NDJFQkY="
  STATIC_CRON_TOKEN: "NENGRDZCRjY0MENGRkM5RkU3RTBBNTZDQjg2MzI4QkU="
