---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: "{{ .Release.Namespace }}"
data:
  nginx.conf: |
    server {
      listen 8080;
      access_log /opt/bitnami/openresty/nginx/logs/access.log;
      error_log /opt/bitnami/openresty/nginx/logs/error.log;

      client_max_body_size 100m;

      proxy_connect_timeout                          300s;
      proxy_send_timeout                             600s;
      proxy_read_timeout                             1800s;

      proxy_http_version 1.1;
      proxy_set_header upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";

      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;

      proxy_set_header X-BFL-USER {{ .Values.bfl.username }};

      location / {
          proxy_pass http://jupyterhub-svc:8000;

          proxy_buffering off;
          proxy_buffer_size 4k;
          proxy_buffers 8 4k;

          proxy_http_version 1.1;
          proxy_set_header Upgrade $http_upgrade;
          proxy_set_header Connection "upgrade";

          proxy_set_header X-Forwarded-Proto https;
          proxy_set_header X-Forwarded-Ssl on;
      }
    }

---
apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: jupyterhubingress
  name: jupyterhubingress
  namespace: "{{ .Release.Namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: jupyterhubingress
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.network/chrome-default: "true"
        io.kompose.service: jupyterhubingress
    spec:
      volumes:
        - name: nginx-config
          configMap:
            name: nginx-config
            defaultMode: 438
            items:
              - key: nginx.conf
                path: nginx.conf
      initContainers:
        - name: wait-for-jupyterhub
          image: "docker.io/beclab/wait-for:0.1.0"
          args:
            - "-it"
            - >-
              jupyterhub-svc:8081
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: IfNotPresent
      containers:
        - name: nginx
          image: "docker.io/beclab/aboveos-bitnami-openresty:1.25.3-2"
          ports:
            - containerPort: 8080
              protocol: TCP
          env:
            - name: OPENRESTY_CONF_FILE
              value: /etc/nginx/nginx.conf
          startupProbe:
            tcpSocket:
              port: 8080
            failureThreshold: 30
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 30
            timeoutSeconds: 60
            periodSeconds: 60
            successThreshold: 1
            failureThreshold: 10
          resources:
            limits:
              cpu: 100m
              memory: 256Mi
            requests:
              cpu: 10m
              memory: 64Mi
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
            - name: nginx-config
              mountPath: /opt/bitnami/openresty/nginx/conf/server_blocks/nginx.conf
              subPath: nginx.conf
---
apiVersion: v1
kind: Service
metadata:
  name: jupyterhubingress
  namespace: "{{ .Release.Namespace }}"
spec:
  type: ClusterIP
  selector:
    io.kompose.service: jupyterhubingress
  ports:
    - name: api
      protocol: TCP
      port: 8080
      targetPort: 8080
