kind: ConfigMap
apiVersion: v1
metadata:
  name: metube-config
  namespace: {{ .Release.Namespace }}
  labels:
    io.kompose.service: metube
data:
  # Netscape HTTP Cookie File format (empty file with header for yt-dlp)
  cookies.txt: |
    # Netscape HTTP Cookie File

---
kind: ConfigMap
apiVersion: v1
metadata:
  name: metube-env
  namespace: {{ .Release.Namespace }}
  labels:
    io.kompose.service: metube
data:
  # Download Behavior
  MAX_CONCURRENT_DOWNLOADS: "3"
  DELETE_FILE_ON_TRASHCAN: "false"
  DEFAULT_OPTION_PLAYLIST_ITEM_LIMIT: "0"

  # Storage & Directories (downloads under Home, state/cookies in appData)
  DOWNLOAD_DIR: "/home/Downloads"
  AUDIO_DOWNLOAD_DIR: "/home/Downloads"
  CUSTOM_DIRS: "true"
  CREATE_CUSTOM_DIRS: "true"
  CUSTOM_DIRS_EXCLUDE_REGEX: "(^|/)[.@].*$"
  DOWNLOAD_DIRS_INDEXABLE: "false"
  STATE_DIR: "/downloads/.metube"
  TEMP_DIR: "/downloads"

  # File Naming & yt-dlp
  OUTPUT_TEMPLATE: "%(title)s.%(ext)s"
  OUTPUT_TEMPLATE_CHAPTER: "%(title)s - %(section_number)s %(section_title)s.%(ext)s"
  OUTPUT_TEMPLATE_PLAYLIST: "%(playlist_title)s/%(title)s.%(ext)s"
  YTDL_OPTIONS: '{"cookiefile":"/app-data/cookies.txt"}'
  YTDL_OPTIONS_FILE: ""

  # Web Server & URLs
  HOST: "0.0.0.0"
  PORT: "8081"
  URL_PREFIX: "/"
  PUBLIC_HOST_URL: "/download/"
  PUBLIC_HOST_AUDIO_URL: "/download/"
  HTTPS: "false"
  CERTFILE: ""
  KEYFILE: ""
  ROBOTS_TXT: ""

  # Basic Setup
  UID: "1000"
  GID: "1000"
  UMASK: "022"
  DEFAULT_THEME: "auto"
  LOGLEVEL: "INFO"
  ENABLE_ACCESSLOG: "false"
