{{- if and .Values.admin .Values.bfl.username (eq .Values.admin .Values.bfl.username) }}
{{- $vllmDomainENV := split "," .Values.domain.vllmclient -}}
{{- $vllmDomain := index $vllmDomainENV "_0" -}}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: vllm
  namespace: "{{ .Release.Namespace }}"
  labels:
    io.kompose.service: vllm
  annotations:
    applications.app.bytetrade.io/gpu-inject: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: vllm
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.network/chrome-default: "true"
        io.kompose.service: vllm
    spec:
      containers:
        - name: vllm
          image: vllm/vllm-openai:v0.11.0
          command:
            - /bin/bash
            - -c
            - |
              DONE_FILE="/models/qwen3-30b/.Qwen3-30B-A3B-Instruct-2507-AWQ-4bit.done"
              echo "[vllm-wait] Waiting for $DONE_FILE ..."
              while [ ! -f "$DONE_FILE" ]; do
                echo "[vllm-wait] Model not ready, sleeping..."
                sleep 10
              done
              echo "[vllm-wait] Detected $DONE_FILE, starting vLLM server."
              
              echo "[vllm-start] Starting vLLM server..."
              python3 -m vllm.entrypoints.openai.api_server \
                --model "/models/qwen3-30b" \
                --max-model-len 8000 \
                --tensor-parallel-size 1
          env:
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"
            - name: TZ
              value: Etc/UTC
            - name: PYTHONUNBUFFERED
              value: "1"
            - name: VLLM_PORT
              value: "8000"
          ports:
            - containerPort: 8000
          resources:
            limits:
              cpu: "18"
              memory: 28Gi
            requests:
              cpu: 500m
              memory: 9Gi
          volumeMounts:
            - mountPath: /models/qwen3-30b
              name: data
        - name: download-model
          image: harveyff/hf-downloader:v0.0.13
          env:
            - name: HF_ENDPOINT
              value: "{{ .Values.olaresEnv.OLARES_USER_HUGGINGFACE_SERVICE }}"
            - name: HF_TOKEN
              value: "{{ .Values.olaresEnv.OLARES_USER_HUGGINGFACE_TOKEN }}"
            - name: VLLM_PROXY_TARGET
              value: http://localhost:8000
            - name: MODEL_NAME
              value: /models/qwen3-30b
            - name: APP_URL
              value: "https://{{ $vllmDomain }}"
          args:
            - "--repo"
            - "cpatonn/Qwen3-30B-A3B-Instruct-2507-AWQ-4bit"
            - "--ref"
            - "main"
            - "--outdir"
            - "/data"
            - "--static"
            - "/app/static"
            - "--port"
            - "8090"
            - "--probe-url"
            - "https://{{ $vllmDomain }}/health"
            - "--done-name"
            - ".Qwen3-30B-A3B-Instruct-2507-AWQ-4bit.done"
          startupProbe:
            httpGet:
              path: /ping
              port: 8090
            initialDelaySeconds: 10
            timeoutSeconds: 10
            periodSeconds: 10
            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: /ping
              port: 8090
              scheme: HTTP
            initialDelaySeconds: 30
            timeoutSeconds: 60
            periodSeconds: 60
            successThreshold: 1
            failureThreshold: 10
          ports:
            - containerPort: 8090
              name: http
          volumeMounts:
            - name: data
              mountPath: /data
          resources:
            requests:
              cpu: "100m"
              memory: "500Mi"
            limits:
              cpu: "1"
              memory: 1Gi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: IfNotPresent
      volumes:
        - name: data
          hostPath:
            path: "{{ .Values.userspace.userData }}/Huggingface/qwen330b"
            type: DirectoryOrCreate
      restartPolicy: Always
status: {}

---
apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  name: download-svc
  namespace: "{{ .Release.Namespace }}"
  labels:
    io.kompose.service: vllm
spec:
  ports:
    - name: http
      port: 8090
      targetPort: 8090
  selector:
    io.kompose.service: vllm
status:
  loadBalancer: {}
{{- end }}