apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.26.1 (HEAD)
  creationTimestamp: null
  labels:
    io.kompose.service: browserless
  name: browserless
  namespace: {{ .Release.Namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: browserless
  strategy: {}
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert
        kompose.version: 1.26.1 (HEAD)
      creationTimestamp: null
      labels:
        io.kompose.service: browserless
    spec:
      containers:
        - image: beclab/harveyff-browserless-chrome:v0.0.1
          name: browserless
          resources: 
            requests:
              cpu: 25m
              memory: 300Mi
            limits:
              cpu: 1000m
              memory: 1024Mi
      restartPolicy: Always
status: {}
