{{- if and .Values.admin .Values.bfl.username (eq .Values.admin .Values.bfl.username) }}

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: sdwebuiforgeshare
  annotations:
    applications.app.bytetrade.io/gpu-inject: "true"    
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sdwebuiforgeshare
  template:
    metadata:
      labels:
        app: sdwebuiforgeshare
    spec:
      initContainers:
        - name: init-app
          image: kldtks/sdwebui-forge:250123-b1-curl
          command:
            - sh
            - '-c'
            - |
              rsync -av --update /stable-diffusion-webui/ /app/;
              rsync -av --update /root/ /systemcache/
          volumeMounts:
            - name: app
              mountPath: /app
            - name: systemcache
              mountPath: /systemcache
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsUser: 0
        - name: init-chmod-data
          image: 'aboveos/busybox:latest'
          command:
            - sh
            - '-c'
            - |
              chown -R 1000:1000 /app-cache-root
          resources: {}
          volumeMounts:
            - name:  appcache
              mountPath: /app-cache-root
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsUser: 0
        - name: update-chmod-data-ai
          image: 'aboveos/busybox:latest'
          command:
            - sh
            - '-c'
            - |
              chown -R 1000:1000 /ai
          resources: {}
          volumeMounts:
            - name:  ai
              mountPath: /ai
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsUser: 0
      containers:
      - name: sdwebuiforgeshare
        image: kldtks/sdwebui-forge:250123-b1-curl
        securityContext:
          runAsUser: 0
        command:
            - sh
            - '-c'
            - >-
              pip config set global.index-url
              https://pypi.joinolares.cn/root/olares3/+simple/; pip config set
              global.extra-index-url "";
              chown -R 1000:1000 /stable-diffusion-webui; rm -rf /stable-diffusion-webui/extensions-builtin/Lora;  python -u
              /stable-diffusion-webui/webui.py --listen --port 7860 --xformers
              --enable-insecure-extension-access --no-hashing --gradio-queue
        livenessProbe:
          exec:
            command:
            - /bin/sh
            - -c
            - |
              http_code=$(curl -s -o /dev/null -w "%{http_code}" http://127.0.0.1:7860/health)
              [ $http_code -ge 403 ] && [ $http_code -lt 405 ]
          initialDelaySeconds: 600
          timeoutSeconds: 60
          periodSeconds: 120
          successThreshold: 1
          failureThreshold: 10
        readinessProbe:
          exec:
            command:
            - /bin/sh
            - -c
            - |
              http_code=$(curl -s -o /dev/null -w "%{http_code}" http://127.0.0.1:7860/health)
              [ $http_code -ge 403 ] && [ $http_code -lt 405 ]
          initialDelaySeconds: 10
          timeoutSeconds: 60
          periodSeconds: 120
          successThreshold: 1
          failureThreshold: 5
        startupProbe:
          exec:
            command:
              - /bin/sh
              - '-c'
              - pgrep pt_main_thread > /dev/null 2>&1 || exit 1
          initialDelaySeconds: 5
          timeoutSeconds: 2
          periodSeconds: 10
          successThreshold: 1
          failureThreshold: 30
        resources:
          requests:
            cpu: 500m
            memory: 3Gi
          limits:
            cpu: 4000m
            memory: 24Gi
            nvidia.com/gpu: 1
        ports:
        - containerPort: 7860
        - containerPort: 7861
        - containerPort: 7862
        - containerPort: 7863
        - containerPort: 7864
        - containerPort: 7865
        env:
        - name: PGID
          value: '0'
        - name: PUID
          value: '0'
        - name: HF_ENDPOINT
          value: '{{ .Values.olaresEnv.HF_ENDPOINT }}'
        - name: HOME
          value: '/root'
        - name: CLI_ARGS
          value: "--allow-code --enable-insecure-extension-access --api --no-hashing --gradio-queue --xformers"
        volumeMounts:
        - name: systemcache
          mountPath: /root
        - name: app
          mountPath: /stable-diffusion-webui
        - name: modellibckp
          mountPath: /stable-diffusion-webui/models/Stable-diffusion/public
        - name: modelliblora
          mountPath: /stable-diffusion-webui/models/Lora/public
        - name: modellibvae
          mountPath: /stable-diffusion-webui/models/VAE/public
        - name: modellicontrolnet
          mountPath: /stable-diffusion-webui/models/ControlNet/public
        - name: modellibclip
          mountPath: /stable-diffusion-webui/models/CLIP/public
        - name: modellibclipvision
          mountPath: /stable-diffusion-webui/models/clip_vision/public
        - name: modellibinpaint
          mountPath: /stable-diffusion-webui/models/Inpaint/public
        - name: modellibupscale
          mountPath: /stable-diffusion-webui/models/ESRGAN/public
        - name: modellibipadapter
          mountPath: /stable-diffusion-webui/models/ipadapter/public
        - name: modellibunet
          mountPath: /stable-diffusion-webui/models/unet/public
        - name: modellibembeddings
          mountPath: /stable-diffusion-webui/embeddings/public
        - name: modellibhypernetworks
          mountPath: /stable-diffusion-webui/models/hypernetworks/public
        - name: modellibtextencoder
          mountPath: /stable-diffusion-webui/models/text_encoder/public
        - name: modellibtextencoder
          mountPath: /stable-diffusion-webui/models/CLIP/link_text_encoder
        - name: modellibclip
          mountPath: /stable-diffusion-webui/models/text_encoder/link_clip
        - name: extensions
          mountPath: /stable-diffusion-webui/extensions
        - name: output
          mountPath: /stable-diffusion-webui/outputs
        imagePullPolicy: IfNotPresent
      volumes:
      - name: appcache
        hostPath:
          type: DirectoryOrCreate
          path: {{ .Values.userspace.appCache}}/{{ .Release.Name }}
      - name: app
        hostPath:
          type: DirectoryOrCreate
          path: {{ .Values.userspace.appCache}}/{{ .Release.Name }}/app
      - name: systemcache
        hostPath:
          type: DirectoryOrCreate
          path: {{ .Values.userspace.appCache}}/{{ .Release.Name }}/system-cache
      - name: ai
        hostPath:
          type: DirectoryOrCreate
          path: {{ .Values.sharedlib }}/ai
      - name: modellibckp
        hostPath:
          type: DirectoryOrCreate
          path: {{ .Values.sharedlib }}/ai/model/main
      - name: modelliblora
        hostPath:
          type: DirectoryOrCreate
          path: {{ .Values.sharedlib }}/ai/model/lora
      - name: modellibvae
        hostPath:
          type: DirectoryOrCreate
          path: {{ .Values.sharedlib }}/ai/model/vae
      - name: modellibclip
        hostPath:
          path: {{ .Values.sharedlib }}/ai/model/clip
          type: DirectoryOrCreate
      - name: modellibclipvision
        hostPath:
          path: {{ .Values.sharedlib }}/ai/model/clip_vision
          type: DirectoryOrCreate
      - name: modellicontrolnet
        hostPath:
          path: {{ .Values.sharedlib }}/ai/model/controlnet
          type: DirectoryOrCreate
      - name: modellibinpaint
        hostPath:
          path: {{ .Values.sharedlib }}/ai/model/inpaint
          type: DirectoryOrCreate
      - name: modellibupscale
        hostPath:
          path: {{ .Values.sharedlib }}/ai/model/upscale_models
          type: DirectoryOrCreate
      - name: modellibipadapter
        hostPath:
          path: {{ .Values.sharedlib }}/ai/model/ipadapter
          type: DirectoryOrCreate
      - name: modellibunet
        hostPath:
          path: {{ .Values.sharedlib }}/ai/model/unet
          type: DirectoryOrCreate
      - name: modellibembeddings
        hostPath:
          type: DirectoryOrCreate
          path: {{ .Values.sharedlib }}/ai/model/embeddings
      - name: modellibhypernetworks
        hostPath:
          type: DirectoryOrCreate
          path: {{ .Values.sharedlib }}/ai/model/hypernetworks
      - name: modellibtextencoder
        hostPath:
          type: DirectoryOrCreate
          path: {{ .Values.sharedlib }}/ai/model/text_encoders
      - name: cacheforstartup
        hostPath:
          path: {{ .Values.sharedlib }}/ai/sd/cacheforstartup
          type: DirectoryOrCreate
      - name: extensions
        hostPath:
          path: {{ .Values.sharedlib }}/ai/sd/extensions
          type: DirectoryOrCreate
      - name: output
        hostPath:
          path: {{ .Values.sharedlib }}/ai/output/sd-webui-forge-for-cluster
          type: DirectoryOrCreate  
  strategy:
    type: Recreate
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  selector:
    app: {{ .Release.Name }}
  ports:
    - name: '7860'
      protocol: TCP
      port: 7860
      targetPort: 7860
    - name: '7861'
      protocol: TCP
      port: 7861
      targetPort: 7861
    - name: '7862'
      protocol: TCP
      port: 7862
      targetPort: 7862
    - name: '7863'
      protocol: TCP
      port: 7863
      targetPort: 7863
    - name: '7864'
      protocol: TCP
      port: 7864
      targetPort: 7864
    - name: '7865'
      protocol: TCP
      port: 7865
      targetPort: 7865
{{- if .Values.sysVersion }}
  {{- if semverCompare "<1.12.1-0" (toString .Values.sysVersion) }}
---
apiVersion: sys.bytetrade.io/v1alpha1
kind: ProviderRegistry
metadata:
  name: legacy-{{ .Release.Name }}
  namespace: user-system-{{ .Values.bfl.username }}
spec:
  dataType: legacy_sdwebuiforgeshare
  deployment: sdwebuiforgeshare
  description: sdwebuiforgeshare legacy api
  endpoint: sdwebuiforgeshare.{{ .Release.Namespace }}:7860
  group: api.sdwebuiforgeshare
  kind: provider
  namespace: {{ .Release.Namespace }}
  version: v2
  opApis:
  - name: All
    uri: /  
status:
  state: active
  {{- end }}
{{- end }}

{{- end }}