---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: transmission
spec:
  replicas: 1
  selector:
    matchLabels:
      app: transmission
  template:
    metadata:
      labels:
        app: transmission
    spec:
      initContainers:
      - name: init-chmod-data
        image: 'docker.io/aboveos/busybox:latest'
        command:
          - sh
          - '-c'
          - |
            chown -R 1000:1000 /app-data-root; chown -R 1000:1000 /config
        resources: {}
        volumeMounts:
          - name: downloads
            mountPath: /app-data-root
          - mountPath: /config
            name: transmission-data
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        imagePullPolicy: Always
        securityContext:
          runAsUser: 0
      containers:
      - name: transmission
        env:
        - name: PGID
          value: "1000"  
        - name: PUID
          value: "1000" 
        - name: TZ
          value: Asia/Shanghai
        image: docker.io/aboveos/linuxserver-transmission:latest
        resources:
          requests:
            cpu: 100m
            memory: 32Mi
          limits:
            cpu: 500m
            memory: 64Mi
        ports:
        - containerPort: 9091
          protocol: TCP
        - containerPort: 51413
          protocol: TCP
        - containerPort: 51413
          protocol: UDP
        volumeMounts:
        - mountPath: /config
          name: transmission-data
          subPath: config
        - mountPath: /downloads
          name: downloads
        - mountPath: /watch
          name: transmission-data  
          subPath: watch
        
      volumes:
      - name: transmission-data
        hostPath:
          type: DirectoryOrCreate
          path: {{ .Values.userspace.appData }}/transmission
      - name: downloads
        hostPath:
          type: Directory
          path: {{ .Values.userspace.userData }}/Downloads

---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-svc
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  selector:
    app: {{ .Release.Name }}
  ports:
    - name: webui-port
      port: 9091            
      targetPort: 9091       
      protocol: TCP
    - name: torrent-port
      port: 51413
      targetPort: 51413
      protocol: TCP
    - name: torrent-udp-port
      port: 51413
      protocol: UDP
      targetPort: 51413

---
apiVersion: sys.bytetrade.io/v1alpha1
kind: ProviderRegistry
metadata:
  name: legacy-{{ .Release.Name }}
  namespace: user-system-{{ .Values.bfl.username }}
spec:
  dataType: legacy_{{ .Release.Name }}
  deployment: {{ .Release.Name }}
  description: {{ .Release.Name }} legacy api v2
  endpoint: {{ .Release.Name }}-svc.{{ .Release.Namespace }}:9091
  group: api.{{ .Release.Name }}
  kind: provider
  namespace: {{ .Release.Namespace }}
  version: v2
  opApis:
  - name: All
    uri: /  
status:
  state: active      