{{- if and .Values.admin .Values.bfl.username (eq .Values.admin .Values.bfl.username) }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: openedaispeech
  name: openedaispeech
  namespace: '{{ .Release.Namespace }}'
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: openedaispeech
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.network/chrome-default: "true"
        io.kompose.service: openedaispeech
    spec:
      initContainers:
      - name: init-chmod-data
        image: "docker.io/beclab/aboveos-busybox:1.37.0"
        command:
          - sh
          - '-c'
          - |
            chown -R 1000:1000 /app-cache-root
        resources: {}
        volumeMounts:
          - name:  app-cache-root
            mountPath: /app-cache-root
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        imagePullPolicy: IfNotPresent
        securityContext:
          runAsUser: 0
      containers:
      - env:
        - name: PGID
          value: "1000"
        - name: PUID
          value: "1000"
        - name: TZ
          value: Etc/UTC
        - name: TTS_HOME
          value: voices
        - name: HF_HOME
          value: voices
        image: "docker.io/beclab/aboveos-matatonic-openedai-speech:0.18.2"
        name: openedaispeech
        livenessProbe:
          httpGet:
            path: /
            port: 8000
            scheme: HTTP
          initialDelaySeconds: 30
          timeoutSeconds: 60
          periodSeconds: 60
          successThreshold: 1
          failureThreshold: 10
        startupProbe:
          tcpSocket:
            port: 8000
          timeoutSeconds: 5
          periodSeconds: 10
          successThreshold: 1
          failureThreshold: 30
        ports:
        - containerPort: 8000
        resources:
          limits:
            cpu: "3"
            memory: 4000Mi
          requests:
            cpu: 50m
            memory: 500Mi
        volumeMounts:
        - name: voices
          mountPath: /app/voices
        - name: config
          mountPath: /app/config
      restartPolicy: Always
      volumes:
      - hostPath:
          path: '{{ .Values.userspace.appCache }}/voices'
          type: DirectoryOrCreate
        name: voices
      - hostPath:
          path: '{{ .Values.userspace.appCache }}/config'
          type: DirectoryOrCreate
        name: config
      - hostPath:
          path: '{{ .Values.userspace.appCache }}'
          type: DirectoryOrCreate
        name: app-cache-root
status: {}
---
apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: openedaispeech
  name: openedaispeech
  namespace: '{{ .Release.Namespace }}'
spec:
  ports:
  - name: "8000"
    port: 8000
    targetPort: 8000
  selector:
    io.kompose.service: openedaispeech
status:
  loadBalancer: {}
---
apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    io.kompose.service: openedaispeech
  name: sharedentrances-api
  namespace: '{{ .Release.Namespace }}'
spec:
  ports:
  - name: "sharedentrances-api"
    port: 80
    targetPort: 8000
  selector:
    io.kompose.service: openedaispeech
status:
  loadBalancer: {}
{{- end }}