apiVersion: v1
data:
  nginx.conf: |
    stream {
      server {
        listen 8001;  
        proxy_pass 127.0.0.1:8080;
      }
    }

    events {
      # Your event-related configurations go here
    }

    http {
      # Your HTTP server configurations go here
    }
kind: ConfigMap
metadata:
  name: nginx-config
  namespace: {{ .Release.Namespace }}
---
apiVersion: v1
data:
  init.sh: |
    #!/bin/bash

    appDataDir="/appData"
    configDir="/config/qBittorrent"
    confFile="$appDataDir/qBittorrent.conf"

    if [ "$(ls -A $appDataDir)" ]; then
      echo "$appDataDir not empty"
    else
      echo "$appDataDir is empty"
      cp -r $configDir/. $appDataDir
      echo "copy succeed"
    fi

    mkdir -p "$(dirname "$confFile")"
    touch "$confFile"

    grep -q "^\[Preferences\]" "$confFile" || echo "[Preferences]" >> "$confFile"
    grep -q "^WebUI\\\\CSRFProtection=" "$confFile" || echo "WebUI\\CSRFProtection=false" >> "$confFile"
    grep -q "^WebUI\\\\HostHeaderValidation=" "$confFile" || echo "WebUI\\HostHeaderValidation=false" >> "$confFile"
    grep -q "^WebUI\\\\Authentication=" "$confFile" || echo "WebUI\\Authentication=false" >> "$confFile"
    grep -q "^WebUI\\\\LocalHostAuth=" "$confFile" || echo "WebUI\\LocalHostAuth=false" >> "$confFile"
    echo "qBittorrent CSRF and HostHeaderValidation ensured"
kind: ConfigMap
metadata:
  name: init-config
  namespace: {{ .Release.Namespace }}
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}
    spec:
      volumes:
        - name: home
          hostPath:
            type: Directory
            path: {{ .Values.userspace.userData }}
        - name: appdata
          hostPath:
            type: DirectoryOrCreate
            {{- if .Values.sysVersion }}
              {{- if semverCompare ">=1.12.3-0" (toString .Values.sysVersion) }}
            path: {{ .Values.userspace.appData }}
              {{- else }}
            path: {{ .Values.userspace.appData }}/qbittorrent
              {{- end }}
            {{- else }}
            path: {{ .Values.userspace.appData }}/qbittorrent
            {{- end }}
        - name: nginx-config
          configMap:
            name: nginx-config
            defaultMode: 438
            items:
              - key: nginx.conf
                path: nginx.conf
        - name: init-config
          configMap:
            name: init-config
            defaultMode: 438
            items:
              - key: init.sh
                path: init.sh
      initContainers:
        - name: init-chmod-data
          image: "docker.io/beclab/aboveos-busybox:1.37.0"
          command:
            - sh
            - '-c'
            - |
              chown -R 1000:1000 /home; chown -R 1000:1000 /appdata
          resources: {}
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: home
              mountPath: /home
            - name: appdata
              mountPath: /appdata
          securityContext:
            runAsUser: 0
        - name: init-qbittorrent-config
          image: "docker.io/beclab/linuxserver-qbittorrent:5.1.4"
          command:
            - sh
            - '-c'
            - |
              chmod +x /init.sh & bash /init.sh
          resources: {}
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: appdata
              mountPath: /appData
            - name: init-config 
              mountPath: /init.sh
              subPath: init.sh
          securityContext:
            runAsUser: 0
      containers:
        - name: nginx
          image: "docker.io/beclab/aboveos-nginx:1.27.0"
          volumeMounts:
            - name: nginx-config 
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
          ports:
            - containerPort: 8001
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              cpu: 10m
              memory: 64Mi
            limits:
              cpu: 100m
              memory: 128Mi
        - name: qbittorrent
          image: "docker.io/beclab/linuxserver-qbittorrent:5.1.4"
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
            limits:
              cpu: "1"
              memory: 2Gi
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          env:
            - name: PGID
              value: "1000" 
            - name: PUID
              value: "1000" 
            - name: UMASK
              value: "002" 
            - name: TZ
              value: UTC
          volumeMounts:
            - name: home
              mountPath: /home
            - name: appdata
              mountPath: /config/qBittorrent
          livenessProbe:
            tcpSocket:
              port: 8080
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            tcpSocket:
              port: 8080
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
          startupProbe:
            tcpSocket:
              port: 8080
            timeoutSeconds: 1
            periodSeconds: 5
            successThreshold: 1
            failureThreshold: 30
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: IfNotPresent
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      serviceAccountName: default
      serviceAccount: default
      automountServiceAccountToken: true
      securityContext: {}
      enableServiceLinks: true
  strategy:
    type: Recreate
  revisionHistoryLimit: 3
  progressDeadlineSeconds: 600

{{- if .Values.sysVersion }}
  {{- if semverCompare "<1.12.1-0" (toString .Values.sysVersion) }}
---
apiVersion: sys.bytetrade.io/v1alpha1
kind: ProviderRegistry
metadata:
  name: {{ .Release.Name }}-svc
  namespace: user-system-{{ .Values.bfl.username }}
spec:
  dataType: legacy_api
  deployment: qbittorrent
  description: qbittorrent legacy api
  endpoint: {{ .Release.Name }}-svc.{{ .Release.Namespace }}:8001
  group: api.qbittorrent
  kind: provider
  namespace: {{ .Release.Namespace }}
  version: v1
status:
  state: active
---
apiVersion: sys.bytetrade.io/v1alpha1
kind: ProviderRegistry
metadata:
  name: legacy-{{ .Release.Name }}
  namespace: user-system-{{ .Values.bfl.username }}
spec:
  dataType: legacy_qbittorrent
  deployment: qbittorrent
  description: qbittorrent legacy api v2
  endpoint: {{ .Release.Name }}-svc.{{ .Release.Namespace }}:8001
  group: apiv2.qbittorrent
  kind: provider
  namespace: {{ .Release.Namespace }}
  version: v2
  opApis:
    - name: All
      uri: /  
status:
  state: active
  {{- end }}
{{- end }}
