{{- if and .Values.admin .Values.bfl.username (eq .Values.admin .Values.bfl.username) }}
{{- $sdDomainENV := split "," .Values.domain.sdwebuiclient -}}
{{- $sdDomain := index $sdDomainENV "_0" -}}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sdwebui
  namespace: {{ .Release.Namespace }}
  labels:
    app: sdwebui
  annotations:
    applications.app.bytetrade.io/gpu-inject: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sdwebui
  template:
    metadata:
      labels:
        app: sdwebui
    spec:
      initContainers:
        - name: init-extensions
          image: kldtks/sdwebui:v1.10.1-pii-t3
          command:
            - sh
            - "-c"
            - |
              rsync -av --update /stable-diffusion-webui/extensions/ /app/extensions/
          volumeMounts:
            - name: extensions
              mountPath: /app/extensions
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsUser: 0

        - name: init-app
          image: kldtks/sdwebui:v1.10.1-pii-t3
          command:
            - sh
            - "-c"
            - |
              DONE_FILE_CLIP="/stable-diffusion-webui/openai/clip-vit-large-patch14/.clip-vit-large-patch14.done"
              DONE_FILE_1_5="/stable-diffusion-webui/models/Stable-diffusion/.v1-5-pruned.safetensors.done"

              echo "[wait] Waiting for both done files ..."

              while [ ! -f "$DONE_FILE_CLIP" ] || [ ! -f "$DONE_FILE_1_5" ]; do
                echo "[wait] Model not ready, sleeping..."
                sleep 10
              done

              echo "[wait] All models ready."
              rsync -av --update /stable-diffusion-webui/ /app/
              rsync -av --update /root/ /systemcache/
          volumeMounts:
            - name: app
              mountPath: /app
            - name: systemcache
              mountPath: /systemcache
            - name: sdcache
              mountPath: /root/.cache
            - name: sdconfig
              mountPath: /stable-diffusion-webui/config
            - name: sdopenai
              mountPath: /stable-diffusion-webui/openai
            - name: modellibembeddings
              mountPath: /stable-diffusion-webui/embeddings
            - name: modellibckp
              mountPath: /stable-diffusion-webui/models/Stable-diffusion
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsUser: 0

        - name: initcache
          image: kldtks/sdwebui:v1.10.1-pii-t3
          command:
            - sh
            - "-c"
            - |
              echo "Starting cache initialization..."
              [ -d /cache/.cache ] && echo "Found /cache/.cache" && rsync -av --update /cache/.cache/ /data/systemcache/.cache/ || echo "Directory /cache/.cache does not exist"
              [ -d /cache/config ] && echo "Found /cache/config" && rsync -av --update /cache/config/ /data/app/config/ || echo "Directory /cache/config does not exist"
              [ -d /cache/models ] && echo "Found /cache/models" && rsync -av --update /cache/models/ /data/app/models/ || echo "Directory /cache/models does not exist"
              [ -d /cache/openai ] && echo "Found /cache/openai" && rsync -av --update /cache/openai/ /data/app/openai/ || echo "Directory /cache/openai does not exist"
              echo "Cache initialization completed."
          volumeMounts:
            - name: cacheforstartup
              mountPath: /cache
            - name: sddata
              mountPath: /data
          imagePullPolicy: IfNotPresent

        - name: init-chmod-data
          image: aboveos/busybox:latest
          command:
            - sh
            - "-c"
            - |
              chown -R 1000:1000 /app-cache-root
          volumeMounts:
            - name: sddata
              mountPath: /app-cache-root
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsUser: 0

        - name: update-chmod-data-ai
          image: aboveos/busybox:latest
          command:
            - sh
            - "-c"
            - |
              chown -R 1000:1000 /ai
          volumeMounts:
            - name: ai
              mountPath: /ai
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsUser: 0

      containers:
        - name: sdwebuis
          securityContext:
            runAsUser: 1000
          image: kldtks/sdwebui:v1.10.1-pii-t3
          command:
            - sh
            - "-c"
            - >-
              pip config set global.index-url https://pypi.joinolares.cn/root/olares3/+simple/; pip config set global.extra-index-url "";
              chown -R 1000:1000 /stable-diffusion-webui;
              python -u /stable-diffusion-webui/webui.py --listen --port 7860 --xformers
              --allow-code --enable-insecure-extension-access --api --no-hashing --gradio-queue --xformers
          resources:
            requests:
              cpu: 500m
              memory: 3Gi
            limits:
              cpu: 4000m
              memory: 24Gi
              nvidia.com/gpu: 1
          ports:
            - containerPort: 7860
          env:
            - name: CLI_ARGS
              value: "--allow-code --enable-insecure-extension-access --api --no-hashing --gradio-queue --xformers"
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"
            - name: HOME
              value: "/root"
          volumeMounts:
            - name: systemcache
              mountPath: /root
            - name: app
              mountPath: /stable-diffusion-webui
            - name: sdconfig
              mountPath: /stable-diffusion-webui/config
            - name: modellibckp
              mountPath: /stable-diffusion-webui/models/Stable-diffusion
            - name: modelliblora
              mountPath: /stable-diffusion-webui/models/Lora
            - name: modellibvae
              mountPath: /stable-diffusion-webui/models/VAE
            - name: modellicontrolnet
              mountPath: /stable-diffusion-webui/models/ControlNet
            - name: modellibclip
              mountPath: /stable-diffusion-webui/models/CLIP
            - name: modellibclipvision
              mountPath: /stable-diffusion-webui/models/clip_vision
            - name: modellibinpaint
              mountPath: /stable-diffusion-webui/models/Inpaint
            - name: modellibupscale
              mountPath: /stable-diffusion-webui/models/ESRGAN
            - name: modellibipadapter
              mountPath: /stable-diffusion-webui/models/ipadapter
            - name: modellibunet
              mountPath: /stable-diffusion-webui/models/unet
            - name: modellibembeddings
              mountPath: /stable-diffusion-webui/embeddings
            - name: modellibhypernetworks
              mountPath: /stable-diffusion-webui/models/hypernetworks
            - name: extensions
              mountPath: /stable-diffusion-webui/extensions
            - name: output
              mountPath: /stable-diffusion-webui/outputs
            - name: input
              mountPath: /stable-diffusion-webui/inputs
          imagePullPolicy: IfNotPresent

      volumes:
        - name: sddata
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.userspace.appCache }}/sdwebuishare
        - name: app
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.userspace.appCache }}/sdwebuishare/app
        - name: systemcache
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.userspace.appCache }}/sdwebuishare/systemcache
        - name: sdcache
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.userspace.appCache }}/sdwebuishare/.cache
        - name: sdconfig
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.userspace.appCache }}/sdwebuishare/config
        - name: sdopenai
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.userspace.appCache }}/sdwebuishare/openai
        - name: ai
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.sharedlib }}/ai
        - name: modellibckp
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.sharedlib }}/ai/model/main
        - name: modelliblora
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.sharedlib }}/ai/model/lora
        - name: modellibvae
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.sharedlib }}/ai/model/vae
        - name: modellibclip
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.sharedlib }}/ai/model/clip
        - name: modellibclipvision
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.sharedlib }}/ai/model/clip_vision
        - name: modellicontrolnet
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.sharedlib }}/ai/model/controlnet
        - name: modellibinpaint
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.sharedlib }}/ai/model/inpaint
        - name: modellibupscale
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.sharedlib }}/ai/model/upscale_models
        - name: modellibipadapter
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.sharedlib }}/ai/model/ipadapter
        - name: modellibunet
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.sharedlib }}/ai/model/unet
        - name: modellibembeddings
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.sharedlib }}/ai/model/embeddings
        - name: modellibhypernetworks
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.sharedlib }}/ai/model/hypernetworks
        - name: cacheforstartup
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.sharedlib }}/ai/sd/cacheforstartup
        - name: extensions
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.sharedlib }}/ai/sd/share/extensions
        - name: output
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.sharedlib }}/ai/output/sdwebui
        - name: input
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.sharedlib }}/ai/input
  strategy:
    type: Recreate

---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Release.Name }}-download-models
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}-download-models
spec:
  ttlSecondsAfterFinished: 100
  backoffLimit: 3
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-download-models
    spec:
      restartPolicy: OnFailure
      containers:
        - name: download-model
          image: harveyff/hf-downloader-only:v0.0.1
          env:
            - name: HF_ENDPOINT
              value: "{{ .Values.olaresEnv.OLARES_USER_HUGGINGFACE_SERVICE }}"
            - name: HF_TOKEN
              value: "{{ .Values.olaresEnv.OLARES_USER_HUGGINGFACE_TOKEN }}"
          args:
            - "--tasks"
            - '{"tasks":[{"repo":"stable-diffusion-v1-5/stable-diffusion-v1-5","file":"v1-5-pruned.safetensors","ref":"main","outDir":"/data/sd1.5","doneNameTpl":".v1-5-pruned.safetensors.done"},{"repo":"openai/clip-vit-large-patch14","file":"","ref":"main","outDir":"/data/clip-vit-large-patch14","doneNameTpl":".clip-vit-large-patch14.done"}]}'
            - "--static"
            - "/app/static"
            - "--port"
            - "8090"
            - "--probe-url"
            - "https://{{ $sdDomain }}/sdapi/v1/options"
          ports:
            - containerPort: 8090
              name: http
          volumeMounts:
            - name: sdbasemodels
              mountPath: /data/sd1.5
            - name: clip-vit-large-patch14
              mountPath: /data/clip-vit-large-patch14
          resources:
            requests:
              cpu: 100m
              memory: 200Mi
            limits:
              cpu: "1"
              memory: 1Gi
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: IfNotPresent
      volumes:
        - name: sdbasemodels
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.sharedlib }}/ai/model/main
        - name: clip-vit-large-patch14
          hostPath:
            type: DirectoryOrCreate
            path: {{ .Values.userspace.appCache }}/sdwebuishare/openai/clip-vit-large-patch14

---
apiVersion: v1
kind: Service
metadata:
  name: download-svc
  namespace: {{ .Release.Namespace }}
spec:
  selector:
    app: {{ .Release.Name }}-download-models
  ports:
    - name: download-status
      port: 8090
      targetPort: 8090
  type: ClusterIP

---
apiVersion: v1
kind: Service
metadata:
  labels:
    io.kompose.service: sdwebui
  name: sdwebuiserver
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  selector:
    app: sdwebui
  ports:
    - protocol: TCP
      port: 7860
      targetPort: 7860

{{- if .Values.sysVersion }}
  {{- if semverCompare "<1.12.1-0" (toString .Values.sysVersion) }}
---
apiVersion: sys.bytetrade.io/v1alpha1
kind: ProviderRegistry
metadata:
  name: legacy-{{ .Release.Name }}
  namespace: user-system-{{ .Values.bfl.username }}
spec:
  dataType: legacy_sdwebui
  deployment: sdwebui
  description: sdwebui legacy api
  endpoint: sdwebui.{{ .Release.Namespace }}:7860
  group: api.sdwebui
  kind: provider
  namespace: {{ .Release.Namespace }}
  version: v2
  opApis:
    - name: All
      uri: /
status:
  state: active
  {{- end }}
{{- end }}

{{- end }}
