---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: deluge
spec:
  replicas: 1
  selector:
    matchLabels:
      app: deluge
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: deluge
    spec:
      containers:
      - env:
        - name: PGID
          value: "1000" 
        - name: PUID
          value: "1000" 
        - name: TZ
          value: Europe/London
        name: deluge
        image: docker.io/aboveos/linuxserver-deluge:2.1.1
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi
        ports:
        - containerPort: 8112
          protocol: TCP
        - containerPort: 6881
          protocol: TCP
        - containerPort: 6881
          protocol: UDP
        volumeMounts:
        - mountPath: /config
          name: deluge-config
        - mountPath: /downloads
          name: deluge-downloads
        securityContext:
          runAsUser: 0
      volumes:
      - name: deluge-config
        hostPath:
          type: DirectoryOrCreate
          path: {{ .Values.userspace.appData }}/deluge
      - name: deluge-downloads
        hostPath:
          type: DirectoryOrCreate
          path: {{ .Values.userspace.userData }}/Downloads    
        

---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-svc
  namespace: {{ .Release.Namespace }}
spec:
  type: ClusterIP
  selector:
    app: {{ .Release.Name }}
  ports:
    - name: webui-http
      protocol: TCP
      port: 8112
      targetPort: 8112
    - name: inbound-tcp
      protocol: TCP
      port: 6881
      targetPort: 6881
    - name: inbound-udp
      protocol: UDP
      port: 6881
      targetPort: 6881

{{- if .Values.sysVersion }}
  {{- if semverCompare "<1.12.1-0" (toString .Values.sysVersion) }}
---
apiVersion: sys.bytetrade.io/v1alpha1
kind: ProviderRegistry
metadata:
  name: legacy-{{ .Release.Name }}
  namespace: user-system-{{ .Values.bfl.username }}
spec:
  dataType: legacy_{{ .Release.Name }}
  deployment: {{ .Release.Name }}
  description: {{ .Release.Name }} legacy api v2
  endpoint: {{ .Release.Name }}-svc.{{ .Release.Namespace }}:8112
  group: api.{{ .Release.Name }}
  kind: provider
  namespace: {{ .Release.Namespace }}
  version: v2
  opApis:
  - name: All
    uri: /  
status:
  state: active
  {{- end }}
{{- end }}