{{- $seatableDomainENV := split "," .Values.domain.seatable -}}
{{- $seatableDomain := index $seatableDomainENV "_0" -}}
{{- $localDomain := $seatableDomain -}}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: seatable-config
  namespace: {{ .Release.Namespace }}
data:
  DB_HOST: "seatable-mysql"
  DB_ROOT_PASSWD: "seatable"
  MARIADB_HOST: 'mariadb'
  MARIADB_PORT: '3306'
  MARIADB_PASSWORD: 'topsecret'
  
  SEATABLE_SERVER_HOSTNAME: "{{$seatableDomain}}"
  SEATABLE_SERVER_PROTOCOL: "https"
  SEATABLE_SERVER_LETSENCRYPT: "false"
  SEATABLE_ADMIN_EMAIL: "{{ .Values.olaresEnv.ADMIN_EMAIL }}"
  SEATABLE_ADMIN_PASSWORD: "{{ .Values.olaresEnv.ADMIN_PASSWORD }}"
  TIME_ZONE: "Etc/UTC"
  SEATABLE_DONT_CHECK_USER_NUMBER_ON_ADD: "false"

  PYTHON_SCHEDULER_URL: "http://python-scheduler"
  PYTHON_SCHEDULER_AUTH_TOKEN: ""
  REQUESTS_CA_BUNDLE: ""

  SEATABLE_EMAIL_USE_TLS: "{{ .Values.olaresEnv.EMAIL_USE_TLS }}"
  SEATABLE_EMAIL_HOST: "{{ .Values.olaresEnv.EMAIL_HOST }}"
  SEATABLE_EMAIL_HOST_USER: "{{ .Values.olaresEnv.EMAIL_HOST_USER }}"
  SEATABLE_EMAIL_HOST_PASSWORD: "{{ .Values.olaresEnv.EMAIL_HOST_PASSWORD }}"
  SEATABLE_EMAIL_PORT: "{{ .Values.olaresEnv.EMAIL_PORT }}"
  SEATABLE_DEFAULT_FROM_EMAIL: "{{ .Values.olaresEnv.DEFAULT_FROM_EMAIL }}"
  SEATABLE_SERVER_EMAIL: "{{ .Values.olaresEnv.SERVER_EMAIL }}"

  SEATABLE_SHOW_TEMPLATES_LINK: "True"
  SEATABLE_TEMPLATE_BASE_API_TOKEN: ""
  SEATABLE_TEMPLATE_TABLE_NAME: ""
  SEATABLE_ENABLE_CREATE_BASE_FROM_TEMPLATE: ""
  SEATABLE_HELP_LINK: "https://docs.seatable.cn/published/seatable-user-manual/home.md"
  SEATABLE_LOG_LEVEL: "INFO"

  SEATABLE_MARKET_URL: 'https://market-dev.seatable.cn/'

  seatable-license.txt: |-
    #SeaTable server licence

    Name = "seatabletjusttest@gmail.com"
    Licencetype = "User"
    LicenceKEY = "1743607444"
    ProductID = "SeaTable server"
    Expiration = "2027-04-02"
    MaxUsers = "3"
    Mode = "subscription"

    Hash = "1e674d8cd49a755f8a282758034a9c540e8e63f0f1550568a1c0b402607eed9f3932ea3b98744bff1d61ee57670a8ab1ad01c88618db5187a893176efd72f57513de8d86664eeafc4a42ae88b608d5ccaeb6e21563b282b3f7f47416cbcf8035219eeb6c528699f1475ccc0e528ec388d59f1fed1e61fd454343b8d4b9d4ca78247e9939bc7e765b0343686d82bf9eeffc7299da1fbe33f5921adecf5a9ebc300793f317380e7d4523dbc5ac23b335970814506b484904ae1b25186432de05e4862c1624de4168158d4b7156a8e654106afe222df99fb738e6372c45d6550227645bef016db727b072c1b862732504b4692ab75301b31d59ef0f485890a9fe0f"








