# ---------------------------
# Shared Config
# ---------------------------
apiVersion: v1
kind: ConfigMap
metadata:
  name: refly-shared-config
  namespace: {{ .Release.Namespace }}
data:
  API_URL: "/api"
  AUTH_SKIP_VERIFICATION: 'true'
  COLLAB_TOKEN_EXPIRY: "12h"
  COLLAB_URL: "/collab"
  DATABASE_URL: "postgresql://{{ .Values.postgres.username }}:{{ .Values.postgres.password }}@{{ .Values.postgres.host }}:{{ .Values.postgres.port }}/{{ .Values.postgres.databases.refly }}?schema=refly"
  ELASTICSEARCH_PASSWORD: "refly"
  ELASTICSEARCH_URL: "http://refly-elasticsearch:9200"
  ELASTICSEARCH_USERNAME: "elastic"
  EMAIL_AUTH_ENABLED: 'false'
  EMAIL_SENDER: "info@example.com"
  EMBEDDINGS_BATCH_SIZE: '512'
  EMBEDDINGS_DIMENSIONS: '768'
  EMBEDDINGS_MODEL_NAME: "jina-embeddings-v3"
  EMBEDDINGS_PROVIDER: "jina"
  FIREWORKS_API_KEY: ''
  GITHUB_AUTH_ENABLED: 'false'
  GITHUB_CALLBACK_URL: ''
  GITHUB_CLIENT_ID: ''
  GITHUB_CLIENT_SECRET: ''
  GOOGLE_AUTH_ENABLED: 'false'
  GOOGLE_CALLBACK_URL: ''
  GOOGLE_CLIENT_ID: ''
  GOOGLE_CLIENT_SECRET: ''
  JINA_API_KEY: ''
  JWT_EXPIRATION_TIME: "6h"
  JWT_REFRESH_EXPIRATION_TIME: "7d"
  JWT_SECRET: "C0mpl3xR@nd0mS3cr3t!2023"
  LOGIN_REDIRECT_URL: ''
  MARKER_API_KEY: ''
  MINIO_EXTERNAL_ACCESS_KEY: "{{ .Values.minio.username }}"
  MINIO_EXTERNAL_BUCKET: "{{ .Values.minio.buckets.external }}"
  MINIO_EXTERNAL_ENDPOINT: "{{ .Values.minio.host }}"
  MINIO_EXTERNAL_PORT: "{{ .Values.minio.port }}"
  MINIO_EXTERNAL_SECRET_KEY: "{{ .Values.minio.password }}"
  MINIO_EXTERNAL_USE_SSL: 'false'
  MINIO_INTERNAL_ACCESS_KEY: "{{ .Values.minio.username }}"
  MINIO_INTERNAL_BUCKET: "{{ .Values.minio.buckets.internal }}"
  MINIO_INTERNAL_ENDPOINT: "{{ .Values.minio.host }}"
  MINIO_INTERNAL_PORT: "{{ .Values.minio.port }}"
  MINIO_INTERNAL_SECRET_KEY: "{{ .Values.minio.password }}"
  MINIO_INTERNAL_USE_SSL: 'false'
  MINIO_ROOT_PASSWORD: "{{ .Values.minio.password }}"
  MINIO_ROOT_USER: "{{ .Values.minio.username }}"
  NODE_ENV: "production"
  OPENAI_API_KEY: ''
  OPENAI_BASE_URL: ''
  OPENROUTER_API_KEY: ''
  ORIGIN: "http://refly-web"
  PARSER_PDF: "pdfjs"
  PORT: '5800'
  POSTGRES_DB: "refly"
  POSTGRES_EFFECTIVE_CACHE_SIZE: "8192MB"
  POSTGRES_MAINTENANCE_WORK_MEM: "128MB"
  POSTGRES_MAX_CONNECTIONS: '150'
  POSTGRES_PASSWORD: "test"
  POSTGRES_SHARED_BUFFERS: "256MB"
  POSTGRES_USER: "refly"
  POSTGRES_WORK_MEM: "8MB"
  QDRANT_API_KEY: ''
  QDRANT_HOST: "refly-qdrant"
  QDRANT_PORT: '6333'
  QUOTA_FILE_PARSE_PAGE: '-1'
  QUOTA_STORAGE_FILE: '-1'
  QUOTA_STORAGE_OBJECT: '-1'
  QUOTA_STORAGE_VECTOR: '-1'
  QUOTA_T1_REQUEST: '-1'
  QUOTA_T1_TOKEN: '-1'
  QUOTA_T2_REQUEST: '-1'
  QUOTA_T2_TOKEN: '-1'
  REDISTIMESERIES_ARGS: "RETENTION_POLICY=20"
  REDIS_HOST: "redis-svc"
  REDIS_PASSWORD: "refly"
  REDIS_PORT: '6379'
  REFLY_COOKIE_DOMAIN: ''
  REFLY_COOKIE_SAME_SITE: ''
  REFLY_COOKIE_SECURE: ''
  REFLY_VEC_DIM: '768'
  RERANKER_MODEL: "jina-reranker-v2-base-multilingual"
  RERANKER_RELEVANCE_THRESHOLD: '0.5'
  RERANKER_TOP_N: '10'
  RESEND_API_KEY: "re_xxxxxxxx"
  SERPER_API_KEY: ''
  SKILL_EXECUTION_TIMEOUT: '180000'
  SKILL_IDLE_TIMEOUT: '60000'
  STATIC_PRIVATE_ENDPOINT: "/api/v1/misc"
  STATIC_PUBLIC_ENDPOINT: "/api/v1/misc/public"
  STRIPE_ACCOUNT_TEST_WEBHOOK_SECRET: ''
  STRIPE_ACCOUNT_WEBHOOK_SECRET: ''
  STRIPE_API_KEY: ''
  STRIPE_PORTAL_RETURN_URL: ''
  STRIPE_SESSION_CANCEL_URL: ''
  STRIPE_SESSION_SUCCESS_URL: ''
  TZ: "Etc/UTC"
  WS_PORT: '5801'
  discovery.type: "single-node"
  xpack.license.self_generated.type: "basic"
  xpack.security.enabled: 'true'
  xpack.security.http.ssl.enabled: 'false'